.top_pickup_base {
	clear: both;
	width: 740px;
	margin-right: -20px;
	margin-bottom: 20px;
}
.top_pickup {
	border-radius: 5px;
	background-color: #FFFFFF;
	padding: 20px;
	float: left;
	width: 310px;
	margin-right: 20px;
	margin-bottom: 20px;
}
.top_pickup div {
	float: right;
	width: 170px;
}
.top_pickup div h3 {
	font-size: 85%;
	clear: both;
	margin-bottom: 10px;
	line-height: 120%;
}
.top_pickup div h3 a:link, .top_pickup div h3 a:visited {
	color: #000000;
	text-decoration: none;
}
.top_pickup div h3 a:hover, .top_pickup div h3 a:active {
	color: #000000;
	text-decoration: underline;
}
.top_pickup_icon {
	font-size: 10px;
	line-height: 16px;
	color: #FFFFFF;
	background-repeat: no-repeat;
	clear: both;
	height: 16px;
	width: 130px;
	padding-left: 5px;
	margin-bottom: 5px;
}
.top_pickup_txt {
	font-size: 75%;
	line-height: 140%;
}
.top_pickup_pic {
	float: left;
}
.top_pickup_icon.pink {
	background-image: url(../images/toppick_pink.gif);
}
.top_pickup_icon.green {
	background-image: url(../images/toppick_green.gif);
}
.top_pickup_opentext {
	clear: both;
	font-size: 85%;
	font-weight: bold;
	line-height: 140%;
	color: #eb6e9b;
}
.top_pickup_base:after, .top_pickup:after {
	height: 0;
	visibility: hidden;
	content: ".";
	display: block;
	clear: both;
}
.yokoku {
	border-radius: 5px;
	clear: both;
	margin-bottom: 30px;
	background-color: #E4E4DC;
	width: 680px;
	padding: 20px;
}
.yokoku h3 {
	font-size: 90%;
	clear: both;
	margin-bottom: 5px;
}
.yokoku h3 span {
	font-size: 10px;
	line-height: 16px;
	color: #FFFFFF;
	height: 16px;
	width: 140px;
	padding-left: 5px;
	display: block;
	float: left;
	margin-right: 5px;
	font-weight: normal;
	background-color: #EB6E9B;
	text-align: center;
	border-radius: 10px;
}
.yokoku p {
	font-size: 85%;
	line-height: 160%;
	margin-bottom: 20px;
}
.topsection {
}
.newsinfo {
	border-radius: 5px;
	padding: 20px;
	clear: both;
	width: 680px;
	margin-bottom: 30px;
	background-color: #FFFFFF;
}
.newsarea {
	clear: both;
	width: 680px;
}
.newsarea dt {
	float: left;
	clear: left;
	font-size: 85%;
	margin-top: 0;
	margin-right: 0;
	margin-bottom: 7px;
	margin-left: 0;
	padding: 0;
	line-height: 150%;
	width: 3em;
}
.newsarea dd {
	margin-top: 0;
	margin-right: 0;
	margin-bottom: 13px;
	margin-left: 0;
	padding-top: 0;
	padding-right: 0;
	padding-bottom: 10px;
	padding-left: 8em;
	background-image: url(../common/images/line001.gif);
	background-repeat: repeat-x;
	background-position: bottom;
	font-size: 85%;
	line-height: 150%;
}
#main {
	background-image: url(../images/main_back.jpg);
	background-repeat: no-repeat;
	background-position: center center;
}
#topvisual_wrap {
	width: 100%;
	min-width: 1000px;
	overflow: hidden;
	padding-top: 20px;
}
#topvisual {
	margin: 0 auto;
	width: 1000px;
	min-width: 1000px;
	position: relative;
	z-index: 1;
}
.bx-wrapper {
	width: 100% !important;
	min-width: 1000px;
	position: relative !important;
}
.bx-window {
	margin: 0 auto !important;
	overflow: visible !important;
}
.slideButton {
	position: absolute;
	width: 1000px;
	top: 225px;
	left: 0;
}
.slideButton li {
	position: absolute;
}
.slideButton .bt-prev {
	top: 0;
	left: 0;
	background: transparent url(../images/arrow_prev.gif) no-repeat left top;
}
.slideButton .bt-next {
	top: 0;
	right: 0;
	background: transparent url(../images/arrow_next.gif) no-repeat left top;
}
.bx-pager {
	text-align: center;
	visibility: hidden;
}
.slideButton a {
	display: block;
	width: 40px;
	height: 50px;
	text-indent: -9999px;
}
.bx-pager a {
	margin: 20px 6px 0 6px;
	display: inline-block;
	width: 12px;
	height: 12px;
	background: transparent url(../images/slide_pager.gif) no-repeat left -12px;
	text-indent: -9999px;
}
.bx-pager a.pager-active {
	background: transparent url(../images/slide_pager.gif) no-repeat left 0;
}
#slider {
	width: 1000px;
	min-width: 1000px;
}
#slider li {
	width: 1000px;
	min-width: 1000px;
	font-size: 0;
	line-height: 0;
	vertical-align: bottom;
}
#maincopy {
	position: absolute;
	text-align: center;
	clear: both;
	left: 95px;
	z-index: 2000;
	top: 500px;
}
#topvisual p {
	clear: both;
	position: absolute;
	top: 130px;
	left: 95px;
	z-index: 2000;
}
#feed {
}
#feed li {
	font-size: 85%;
	line-height: 150%;
	clear: both;
	margin-bottom: 10px;
	padding-bottom: 10px;
	background-image: url(../common/images/line001.gif);
	background-repeat: repeat-x;
	background-position: center bottom;
}
#feed li span {
	padding-right: 30px;
}
