@charset "utf-8";
* {
	margin: 0;
	padding: 0;
	font-family: "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "メイリオ", Meiryo, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
	list-style-type: none;
	font-size: 100%;
}
address {
	font-style: normal;
}
img {
	border: none;
}
body {
	text-align: center;
	background-color: #F1F1ED;
}
a:link {
	text-decoration: underline;
	color: #000000;
}
a:visited {
	text-decoration: underline;
	color: #333333;
}
a:hover {
	text-decoration: none;
	color: #000000;
}
a:active {
	text-decoration: none;
	color: #000000;
}
table {
	border-collapse: collapse;
}
.clear {
	clear: both;
}
.img_left {
	float: left;
	padding-right: 20px;
	padding-bottom: 5px;
}
.img_right {
	float: right;
	padding-left: 20px;
	padding-bottom: 5px;
}
.section, .mid_section {
	margin-bottom: 40px;
	margin-right: auto;
	margin-left: auto;
	clear: both;
	text-align: left;
}
.section {
	width: 720px;
}
.mid_section {
	width: 660px;
}
.section:after, .mid_section:after {
	height: 0;
	visibility: hidden;
	content: ".";
	display: block;
	clear: both;
}
.section h2, .mid_section h2 {
	font-size: 140%;
	color: #3A1F0C;
	font-weight: bold;
	letter-spacing: 3px;
	background-image: url(../images/h2.png);
	background-repeat: no-repeat;
	background-position: left top;
	clear: both;
	margin-bottom: 30px;
	padding-left: 30px;
}
h1.summary, p.summary {
	font-size: 12px;
	font-weight: normal;
	text-align: left;
	clear: both;
	height: 30px;
	width: 1000px;
	margin-right: auto;
	margin-left: auto;
	color: #666666;
}
h3.nh3 {
	background-color: #F1F1ED;
	clear: both;
	margin-bottom: 20px;
	padding-top: 7px;
	padding-right: 7px;
	padding-bottom: 7px;
	padding-left: 20px;
	font-size: 90%;
}
.np, .npr, .npc, .npn, .npcn {
	font-size: 85%;
	line-height: 200%;
	clear: both;
	letter-spacing: 2px;
}
.nps, .nprs, .npcs, .npns, .npcsn {
	font-size: 75%;
	line-height: 200%;
	clear: both;
	letter-spacing: 1px;
}
.np, .nps {
	text-align: left;
	margin-bottom: 30px;
}
.npr, .nprs {
	text-align: right;
	margin-bottom: 30px;
}
.npn, .npns {
	text-align: left;
}
.npc, .npcs {
	text-align: center;
	margin-bottom: 30px;
}
.npcn, .npcsn {
	text-align: center;
}
.n_table {
	clear: both;
	width: 100%;
	margin-bottom: 25px;
	text-align: left;
	margin-right: auto;
	margin-left: auto;
}
.n_table th {
	width: 25%;
	background-color: #F3F3F3;
}
.n_table td {
	width: 75%;
}
.n_table th, .n_table td {
	font-size: 85%;
	line-height: 160%;
	text-align: left;
	vertical-align: top;
	font-weight: normal;
	padding: 13px;
	border: 1px solid #CCCCCC;
}
.n_table2 {
	clear: both;
	width: 100%;
	margin-bottom: 25px;
	text-align: left;
	margin-right: auto;
	margin-left: auto;
}
.n_table2 th {
	width: 25%;
	background-color: #F3F3F3;
}
.n_table2 td {
	width: 75%;
}
.n_table2 th, .n_table2 td {
	font-size: 85%;
	line-height: 160%;
	text-align: left;
	vertical-align: top;
	font-weight: normal;
	padding: 5px;
	border: 1px solid #CCCCCC;
}
.redtxt {
	color: #900;
}
.pagetop {
	text-align: right;
	clear: both;
}
.header_top {
	position: relative;
	clear: both;
	width: 1000px;
	height: 40px;
	margin: 0 auto;
}
#header_nav {
	position:absolute;
	top:0;
	right: 0;
}
#header {
	clear: both;
	height: 80px;
	width: 1000px;
	margin-right: auto;
	margin-left: auto;
	margin-bottom: 30px;
}
#header_nav li {
	float: left;
	margin-left: 3px;
}
#header_nav li:first-child {
	margin-left: 0;
}
#logo {
	line-height: 0px;
	float: left;
}
#header_sub {
	float: right;
	margin-top: 15px;
}
#header_sub li {
	line-height: 0px;
	float: right;
}
#gnavi {
	clear: both;
	height: 50px;
	width: 1000px;
	margin-right: auto;
	margin-left: auto;
}
#gnavi li {
	line-height: 0px;
	padding: 0px;
	float: left;
}
#container {
	clear: both;
	width: 1000px;
	margin-right: auto;
	margin-bottom: 50px;
	margin-left: auto;
	z-index: 1000;
}
#container:after {
	height: 0;
	visibility: hidden;
	content: ".";
	display: block;
	clear: both;
}
#footer_wrapper {
	background-color: #FFFFFF;
	text-align: center;
	clear: both;
	margin-bottom: 30px;
	background-image: url(../images/foot_illust.gif);
	background-repeat: repeat-x;
	background-position: top;
	padding-top: 60px;
}
#footer_wrapper2 {
	clear: both;
	width: 1000px;
	margin-right: auto;
	margin-left: auto;
	text-align: left;
}
#footer_wrapper3 {
	background-color: #FFFFFF;
	clear: both;
	height: 95px;
	width: 100%;
}
#footer {
	clear: both;
	width: 1000px;
	margin-right: auto;
	margin-left: auto;
	padding-top: 20px;
}
#footer_wrapper2 h2 {
	background-image: url(../images/foot_arrow.png);
	background-repeat: no-repeat;
	background-position: left center;
	clear: both;
	margin-bottom: 10px;
	padding-left: 20px;
}
#footnavi {
	clear: both;
	width: 1000px;
	margin-right: auto;
	margin-left: auto;
	text-align: left;
	padding-top: 20px;
}
#footnavi li {
	float: left;
	width: 149px;
	font-size: 80%;
	background-image: url(../images/foot_arrow.png);
	background-repeat: no-repeat;
	background-position: left top;
	padding-left: 17px;
	padding-bottom: 20px;
}
#footnavi li a:link, #footnavi li a:visited {
}
#footnavi li a:hover, #footnavi li a:active {
}
#copyright {
	background-color: #EB6E9B;
	clear: both;
	width: 100%;
	line-height: 25px;
	margin: 0px;
	padding: 0px;
	height: 25px;
}
#foot_txt {
	font-size: 10px;
	line-height: 160%;
	font-weight: normal;
	float: left;
	text-align: left;
	padding-left: 20px;
	padding-top: 10px;
}
#foot_info {
	font-size: 10px;
	line-height: 160%;
	text-align: left;
	float: left;
	padding-left: 20px;
	padding-top: 15px;
}
#foot_tel {
	float: left;
	padding-left: 20px;
	padding-top: 15px;
}
#foot_logo {
	float: left;
}
#foot_guide {
	clear: both;
	width: 1008px;
	margin-right: -8px;
	margin-bottom: 30px;
}
#foot_guide div {
	background-color: #FFFFFF;
	padding: 5px;
	float: left;
	margin-right: 8px;
	width: 150px;
}
#foot_guide .real {
	background: #FF8000;
}
#foot_guide .ss {
	background: #041F79;
}
#foot_guide .cp {
	background: #3A9FD9;
}
#foot_guide div p {
	font-size: 10px;
	clear: both;
	margin-bottom: 5px;
	color: #E8598B;
}
#foot_guide div h3 {
	font-size: 75%;
	font-weight: normal;
	clear: both;
	margin-bottom: 5px;
}
#foot_guide .real h3,
#foot_guide .ss h3,
#foot_guide .cp h3 {
	padding: 10px 0;
	text-align: center;
}
#footnavi:after, #footnavi:after, #foot_guide:after {
	height: 0;
	visibility: hidden;
	content: ".";
	display: block;
	clear: both;
}
a img {
	-webkit-transition: 0.1s ease-in-out;
	-moz-transition: 0.1s ease-in-out;
	-o-transition: 0.1s ease-in-out;
	transition: 0.1s ease-in-out;
}
a:hover img {
	opacity: 0.6;
	filter: alpha(opacity=60);
}
.inputarea_zip {
	width: 70px;
}
.inputarea_name {
	width: 50%;
}
.inputarea_age {
	width: 20%;
}
.inputarea_other {
	width: 200px;
}
.inputarea_add {
	width: 80%;
}
.inputarea_txt {
	height: 150px;
	width: 80%;
}
.inputarea_zip, .inputarea_name, .inputarea_age, .inputarea_other, .inputarea_add, .inputarea_txt {
	background-color: #FFFFEC;
	border: 1px solid #CCCCCC;
	padding: 5px;
}
.checkbox_type {
	padding-right: 20px;
}
.preview {
	text-align: center;
	clear: both;
	display: block;
	width: 300px;
	margin-right: auto;
	margin-left: auto;
}
.preview input {
	display: block;
  margin: 10px 0;
	border-radius: 10px;
	font-weight: bold;
	color: #FFFFFF;
	padding: 10px;
	width: 280px;
	background-color: #EB6E9B;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
	cursor: pointer;
}
.ors_def {
	clear: both;
}
.ors_def li {
	font-size: 75%;
	line-height: 140%;
	clear: both;
	margin-bottom: 10px;
	padding-bottom: 10px;
	border-bottom-width: 1px;
	border-bottom-style: dotted;
	border-bottom-color: #CCCCCC;
	background-image: url(../images/arrow001.gif);
	background-repeat: no-repeat;
	background-position: left top;
	padding-left: 30px;
}
.ors_def li a:link, .ors_def li a:visited {
	text-decoration: none;
}
.ors_def li a:hover, .ors_def li a:active {
	text-decoration: underline;
}
#pan {
	clear: both;
	margin-bottom: 30px;
	line-height: 20px;
	height: 20px;
	width: 660px;
	border-bottom-width: 5px;
	border-bottom-style: solid;
	border-bottom-color: #EB6E9B;
	padding-bottom: 10px;
	margin-right: auto;
	margin-left: auto;
}
#pan:after {
	height: 0;
	visibility: hidden;
	content: ".";
	display: block;
	clear: both;
}
#pan li {
	font-size: 10px;
	float: left;
}
#pan li a {
	background-image: url(../images/pan_arrow.gif);
	background-repeat: no-repeat;
	background-position: right center;
	display: block;
	margin-right: 10px;
	padding-right: 20px;
}
#pan li.pan_home a:link, #pan li.pan_home a:visited {
	font-size: 10px;
	color: #FFFFFF;
	text-decoration: underline;
}
#pan li.pan_home a:hover, #pan li.pan_home a:active {
	color: #FFFFFF;
	text-decoration: underline;
}
#content {
	float: left;
	width: 720px;
	text-align: left;
}
#mid_content {
	border-radius: 5px;
	padding: 30px;
	float: left;
	width: 660px;
	background-color: #FFFFFF;
}
#sidebar {
	float: right;
	width: 250px;
}
#side_map {
	clear: both;
	margin-bottom: 10px;
}
#side_contact {
	clear: both;
	margin-bottom: 20px;
}
.bnr {
	clear: both;
	margin-bottom: 15px;
}
.bnr li {
	line-height: 0px;
	clear: both;
	margin-bottom: 5px;
}
#link_bnr {
	background-color: #C4E6EB;
	padding: 15px;
	clear: both;
	text-align: left;
}
#link_bnr h2 {
	background-image: url(../images/side_arrow.gif);
	background-repeat: no-repeat;
	background-position: left center;
	clear: both;
	margin-bottom: 10px;
	padding-left: 15px;
	font-size: 90%;
}
#link_bnr ul {
}
#link_bnr ul li {
	clear: both;
	margin-bottom: 5px;
}
#midmain {
	background-repeat: no-repeat;
	background-position: center center;
	clear: both;
	height: 286px;
	width: 100%;
	margin-bottom: -70px;
}
#midmain h1, #midmain p {
	text-align: left;
	clear: both;
	width: 1000px;
	margin-right: auto;
	margin-left: auto;
	padding-top: 120px;
}
#midmainblog {
	background-repeat: no-repeat;
	background-position: center center;
	background-image: url(http://s-az.jp/info/images/main.jpg);
	clear: both;
	height: 286px;
	width: 100%;
	margin-bottom: -70px;
}
#midmainblog h1 {
	text-align: left;
	clear: both;
	width: 1000px;
	margin-right: auto;
	margin-left: auto;
	padding-top: 120px;
}
/*blog*/
#sidebar div#primary {
	border-radius: 5px;
	background-color: #FFFFFF;
	padding: 20px;
	clear: both;
	width: 210px;
	margin-bottom: 20px;
	text-align: left;
}
#sidebar div#primary h3 {
	background-image: url(../images/foot_arrow.png);
	background-repeat: no-repeat;
	background-position: left top;
	clear: both;
	margin-bottom: 10px;
	padding-left: 15px;
}
#sidebar div#primary ul {
	clear: both;
	margin-bottom: 15px;
}
#sidebar div#primary ul li ul li {
	font-size: 75%;
	line-height: 130%;
	clear: both;
	margin-bottom: 5px;
	background-image: url(../images/arrow001.gif);
	background-repeat: no-repeat;
	background-position: left 5px;
	padding-left: 10px;
	margin-left: 15px;
}
article {
	clear: both;
	width: 600px;
	margin-bottom: 40px;
	display: block;
	padding: 30px;
	background-color: #F9F8E6;
	border-radius: 10px;
}
h2.entry-title, h1.entry-title {
	background-color: #99CC00;
	clear: both;
	padding: 10px;
	margin-bottom: 10px;
	border-radius: 5px;
}
h2.entry-title a:link, h2.entry-title a:visited, h1.entry-title a:link, h1.entry-title a:visited {
	color: #FFFFFF;
	text-decoration: none;
}
h2.entry-title a:hover, h2.entry-title a:active, h1.entry-title a:hover, h1.entry-title a:active {
	color: #FFFFFF;
	text-decoration: underline;
}
article p {
	line-height: 160%;
	margin-bottom: 15px;
	text-align: left;
}
section.entry-meta {
	font-size: 75%;
	clear: both;
	margin-bottom: 15px;
	display: block;
	text-align: right;
}
footer.entry-footer {
	font-size: 10px;
	background-color: #F1F1ED;
	display: block;
	padding: 5px;
}
#nav-below {
	clear: both;
	overflow: hidden;
}
#nav-below .nav-previous {
	float: left;
}
#nav-below .nav-next {
	float: right;
}
/*h1.p