@charset "utf-8";
/*
Theme Name: sp_az_new
Theme URI: http://s-az.jp/
Description: 有料老人ホーム・サ高住・訪問介護のスペース・アズ【奈良県・大阪府】
Version: 1.0
Author: noasys
Author URI: https://noasys.co.jp/
*/
/* CSS Document */

.nav-below {
    margin: 2em 0;
    width: 100%;
}

.wp-pagenavi {
    display: flex;
    justify-content: center;
    font-size: 2.0rem;
    margin-top: 50px;
}

.wp-pagenavi span,
.wp-pagenavi a {
    border: none !important;
    display: block;
    width: 40px;
    height: 40px;
    margin: 0 5px;
    background: #f9e1ea;
    text-align: center;
}

.wp-pagenavi span:hover,
.wp-pagenavi span.current {
    border: none !important;
    background: #ed709c;
    color: #FFF;
}

.wp-pagenavi a:hover,
.wp-pagenavi a.current {
    background: #ed709c;
    color: #FFF;
}

.post_nav_list {
    margin-top: 4em;
    display: flex;
    justify-content: space-between;
}

.post_nav_list li {
    margin: 0;
    width: 33.33333%;
    text-align: center;
}

.post_nav_list .prev {
    text-align: left;
}

.post_nav_list .index {
    text-align: center;
}

.post_nav_list .next {
    text-align: right;
}

.post_nav_list a,
.post_nav_list a:visited {
    padding: 0.5em 1em;
    text-align: center;
    display: inline-block;
    background: #ed709c;
    color: #FFF;
    text-decoration: none;
}

@media only screen and (max-width: 600px) {
    .post_nav_list {
        margin-top: 2em;
        display: flex;
        font-size: 1.2rem;
    }

    .post_nav_list li {
        margin: 0;
        width: 50%;
        text-align: center;
    }

    .post_nav_list .prev {
        margin-right: -25%;
        text-align: left;
    }

    .post_nav_list .index {
        text-align: center;
    }

    .post_nav_list .next {
        margin-left: -25%;
        text-align: right;
    }
}