/* Scss Document */
$c_font: #000;
$c_font_40: rgba(0, 0, 0, .4);
$c_font01: #412210;//茶
$c_font02: #dd4e99;//ピンク
$c_font03: #ed709c;//ピンク
$c_font06: #D24A98;//ピンク
$c_font07: #eb6c99;//ピンク
$c_font04: #e0922b;//黄色
$c_font05: #90b52a;//緑
$c_font08: #A3D800;//緑
$c_main: #eb6e9b;//ピンク
$c_real: #f48d40;
$c_ss: #5fa6d6;
$c_base01: #F1F2EE;
$c_base02: #fce9f0;//薄いピンク
$c_base03: #f9e1ea;//薄いピンク、footer
$c_base04: #FCF2E4;//薄いピンク
$c_base08: #FCE7F0;//薄いピンク
$c_base09: #EC9B75;//薄いピンク、正社員
$c_base05: rgba(249, 234, 211, .5);//薄いピンク
$c_base06: rgba(249, 234, 211, .6);//薄いピンク
$c_base07: #EEE;
$c_base10: #EFF0E8;
$c_base11: #FFFFBF;
$c_base12: #F0F0E1;

$c_white: #FFF;
$c_gray: #f1f2ee;//gray
$c_yellow: #eaba6e;
$c_yellow01: #FFBF00;
$c_green: #bfd68c;
$c_green01: #A3C779;
$c_green02: #A9CC91;
$c_green03: #99CC00;
$c_green04: #96C800;//パート
$c_bd01: #CCC;
$c_bd02: #DDD;
$c_red: #D80000;
$c_link: #00678C;





$c_main1: #003F6C;//フォント
$c_main_30: rgba(2,63,110,.3);




$c_acsect: #A64A97;


$c_main_30: rgba(0,169,95,.3);
//$c_base_30: rgba(255,243,63,.3);



@mixin css3($property, $value) {
     @each $prefix in -webkit-, -moz-, -ms-, -o-, '' {
          #{$prefix}#{$property}: $value;
     }
}
@mixin hover {
    opacity: .6;
	transition: .5s;
}
