#midmain {
  background-image: url(../images/main.jpg);
}
ul.sitemaplist {
  clear: both;
  width: 600px;
  margin-right: auto;
  margin-left: auto;
  padding-top: 20px;
  text-align: left;
}
ul.sitemaplist li {
  line-height: 130%;
  background-image: url(../../common/images/foot_arrow.png);
  background-repeat: no-repeat;
  background-position: left 3px;
  clear: both;
  padding-left: 20px;
  margin-bottom: 20px;
  font-weight: bold;
}
ul.sitemaplist li ul {
  clear: both;
  padding-top: 10px;
  padding-left: 20px;
  padding-bottom: 10px;
}
ul.sitemaplist li ul li {
  background-image: url(../../common/images/pan_arrow.gif);
  clear: both;
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 5px;
  margin-left: 0px;
  font-weight: normal;
  font-size: 85%;
  background-repeat: no-repeat;
  background-position: 10px 5px;
}
ul.sitemaplist li ul li ul {
  clear: both;
  padding-top: 10px;
  padding-left: 20px;
  padding-bottom: 10px;
}
ul.sitemaplist li ul li ul li {
  background-image: url(../../common/images/arrow002.gif);
  clear: both;
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 5px;
  margin-left: 0px;
  font-weight: normal;
  font-size: 85%;
  background-repeat: no-repeat;
  background-position: 10px 3px;
}
.privacy_txt {
  clear: both;
  padding-left: 50px;
}
.privacy_txt li {
  font-size: 75%;
  line-height: 130%;
  clear: both;
  margin-bottom: 10px;
  background-image: url(../../common/images/pan_arrow.gif);
  background-repeat: no-repeat;
  background-position: left 4px;
  padding-left: 10px;
}
.privacy {
  font-size: 75%;
  line-height: 130%;
  background-color: #F1F1ED;
  padding: 10px;
  clear: both;
  margin-bottom: 15px;
}