/* Scss Document */
/* Scss Document */
.mv {
  background: url("../images/about/mv.png") top center no-repeat;
}
@media screen and (max-width: 640px) {
  .mv {
    background: url("../images/about/mv_sp.png") top center no-repeat;
    background-size: 100% auto;
  }
}

.greeting .greeting_text {
  font-size: 2.0rem;
  line-height: 2.0;
}
@media screen and (max-width: 640px) {
  .greeting .greeting_text {
    font-size: calc((30/750)*100vw);
  }
}
.greeting .greeting_sign {
  font-family: 'Noto Serif JP', serif;
  font-size: 2.0rem;
  text-align: right;
}
@media screen and (max-width: 640px) {
  .greeting .greeting_sign {
    font-size: calc((30/750)*100vw);
  }
}
.greeting .greeting_sign span {
  display: inline-block;
  margin-left: 1em;
  font-size: 3.0rem;
}
@media screen and (max-width: 640px) {
  .greeting .greeting_sign span {
    font-size: calc((40/750)*100vw);
  }
}

.access .access_gmap {
  width: 100%;
  margin-bottom: 40px;
}
@media screen and (max-width: 640px) {
  .access .access_gmap {
    width: 100%;
    height: calc((500/750)*100vw);
    margin-bottom: calc((50/750)*100vw);
  }
}
.access .access_train {
  margin-bottom: 20px;
  font-size: 2.0rem;
  letter-spacing: .15em;
  line-height: 1.7;
  text-align: center;
}
@media screen and (max-width: 640px) {
  .access .access_train {
    margin-bottom: calc((20/750)*100vw);
    font-size: calc((30/750)*100vw);
    letter-spacing: 0;
  }
}
.access .access_address {
  font-style: normal;
  letter-spacing: .15em;
  text-align: center;
}
@media screen and (max-width: 640px) {
  .access .access_address {
    letter-spacing: 0;
  }
}
