/* Scss Document */
/* Scss Document */
.mv {
  background: url("../images/blog/mv.png") top center no-repeat;
}

@media screen and (max-width: 640px) {
  .mv {
    background: url("../images/blog/mv_sp.png") top center no-repeat;
    background-size: 100% auto;
  }
}

.article {
  margin-top: 65px;
  background: #FFF;
  padding: 40px 50px;
  border: #DDD 5px solid;
}

@media screen and (max-width: 640px) {
  .article {
    margin-top: calc((80/750)*100vw);
    padding: calc((30/750)*100vw);
  }
}

.article:first-of-type {
  margin-top: 0;
}

.article h2 {
  margin-bottom: 20px;
  font-size: 2.4rem;
  font-weight: 700;
  letter-spacing: .05em;
  line-height: 1.7;
}

@media screen and (max-width: 640px) {
  .article h2 {
    margin-bottom: calc((20/750)*100vw);
    font-size: calc((30/750)*100vw);
    line-height: 1.4;
  }
}

.article p,
.article figure {
  margin-top: 1.5em;
}

.article .article_info {
  -webkit-display: flex;
  -moz-display: flex;
  -ms-display: flex;
  -o-display: flex;
  display: flex;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  -o-align-items: center;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 30px;
  padding: .3em 1em;
  background: #FCE7F0;
}

@media screen and (max-width: 640px) {
  .article .article_info {
    margin-bottom: calc((40/750)*100vw);
  }
}

.article .article_info .category {
  font-size: 1.5rem;
}

.post-categories li {
  margin-right: .5em;
  display: inline-block;

}

@media screen and (max-width: 640px) {
  .article .article_info .category {
    font-size: calc((20/750)*100vw);
  }
}

.article .article_info .editor {
  font-size: 1.5rem;
}

@media screen and (max-width: 640px) {
  .article .article_info .editor {
    font-size: calc((20/750)*100vw);
  }
}

@media screen and (max-width: 640px) {
  .article .article_info .date {
    font-size: calc((20/750)*100vw);
  }
}

.blog .blog_category {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  -ms-align-items: flex-start;
  align-items: flex-start;
  justify-content: flex-start;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  -o-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-bottom: 60px;
  margin-right: -3.5rem;
}

@media screen and (max-width: 640px) {
  .blog .blog_category {
    margin-right: -2%;
    margin-bottom: calc((60/750)*100vw);
  }
}

.blog .blog_category li {
  margin-right: 3.5rem;
  width: 20.0rem;
}

@media screen and (max-width: 640px) {
  .blog .blog_category li {
    margin-right: 2%;
    width: 48%;
  }
}

.blog .blog_category li a {
  margin-top: 2rem;
  display: block;
  background: #FFF;
  border: #EB6E9B 1px solid;
  border-radius: 2.0rem;
  color: #EB6E9B;
  font-size: 1.8rem;
  font-weight: bold;
  text-align: center;
  line-height: 2.0;
}

@media screen and (max-width: 640px) {
  .blog .blog_category li a {
    margin-top: calc((20/750)*100vw);
    font-size: calc((24/750)*100vw);
  }
}

.blog .blog_category .current-cat a,
.blog .blog_category a.active {
  background: #EB6E9B;
  border: #EB6E9B 1px solid;
  color: #FFF;

}

.blog .blog_list {
  -webkit-display: flex;
  -moz-display: flex;
  -ms-display: flex;
  -o-display: flex;
  display: flex;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  -o-flex-wrap: wrap;
  flex-wrap: wrap;
  justify-content: flex-start;
}

@media screen and (max-width: 640px) {
  .blog .blog_list {
    display: block;
  }
}

.blog .blog_list_item {
  position: relative;
  width: 255px;
  margin: 60px 0 0 40px;
  padding-bottom: 40px;
}

@media screen and (max-width: 640px) {
  .blog .blog_list_item {
    width: 100%;
    margin: calc((40/750)*100vw) 0 0;
    padding-bottom: 0;
  }
}

.blog .blog_list_item:nth-child(-n+4) {
  margin-top: 0;
}

@media screen and (max-width: 640px) {
  .blog .blog_list_item:nth-child(-n+4) {
    margin-top: calc((40/750)*100vw);
  }
}

.blog .blog_list_item:nth-child(4n+1) {
  margin-left: 0;
}

@media screen and (max-width: 640px) {
  .blog .blog_list_item:nth-child(4n+1) {
    margin-left: 0;
  }
}

@media screen and (max-width: 640px) {
  .blog .blog_list_item a {
    -webkit-display: flex;
    -moz-display: flex;
    -ms-display: flex;
    -o-display: flex;
    display: flex;
    -webkit-align-items: flex-start;
    -moz-align-items: flex-start;
    -ms-align-items: flex-start;
    -o-align-items: flex-start;
    align-items: flex-start;
    justify-content: space-between;
    width: 100%;
  }
}

.blog .blog_list_img,
.blog .blog_list figure {
  width: 100%;
  height: 220px;
  margin-bottom: 10px;
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.1);
}

@media screen and (max-width: 1300px) {

  .blog .blog_list_img,
  .blog .blog_list figure {
    height: calc((280/1300)*100vw);
  }
}

@media screen and (max-width: 640px) {

  .blog .blog_list_img,
  .blog .blog_list figure {
    width: calc((250/750)*100vw);
    height: calc((170/750)*100vw);
    margin: 0;
  }
}

.blog .blog_list_img img,
.blog .blog_list figure img {
  width: 100%;
  height: 220px;
  object-fit: cover;
}

@media screen and (max-width: 1300px) {

  .blog .blog_list_img img,
  .blog .blog_list figure img {
    height: calc((280/1300)*100vw);
  }
}

@media screen and (max-width: 640px) {

  .blog .blog_list_img img,
  .blog .blog_list figure img {
    height: calc((170/750)*100vw);
  }
}

@media screen and (max-width: 640px) {
  .blog .blog_list_textarea {
    width: calc((370/750)*100vw);
  }
}

.blog .blog_list_date {
  display: inline-block;
  margin-bottom: 10px;
  color: rgba(0, 0, 0, 0.4);
  font-size: 1.6rem;
}

@media screen and (max-width: 640px) {
  .blog .blog_list_date {
    margin-bottom: calc((10/750)*100vw);
    font-size: calc((20/750)*100vw);
    line-height: 1.2;
  }
}

.blog .blog_list_ttl {
  margin-bottom: 10px;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.3;
}

@media screen and (max-width: 640px) {
  .blog .blog_list_ttl {
    margin-bottom: calc((10/750)*100vw);
    font-size: calc((24/750)*100vw);
  }
}

.blog .blog_list_category {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 160px;
  padding: .2em .5em;
  color: #ed709c;
  border: #ed709c 1px solid;
  border-radius: 20px;
  text-align: center;
}

@media screen and (max-width: 640px) {
  .blog .blog_list_category {
    position: static;
    display: inline-block;
    width: calc((200/750)*100vw);
    font-size: calc((21/750)*100vw);
  }
}