@charset "UTF-8";
/* Scss Document */
/* Scss Document */
/*---------------
   追加 reset
---------------*/
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: none;
}
a:visited {
  color: inherit;
}

li {
  list-style: none;
}

/*---------------
   共通
---------------*/
html {
  font-size: 62.5%;
}

body {
  width: 100%;
  min-width: 1200px;
  max-width: 1920px;
  margin: 0 auto;
  color: #000;
  font-family: 'Noto Sans JP', sans-serif;
  font-size: 1.6rem;
  font-weight: 400;
  letter-spacing: .1em;
  line-height: 1.8;
  -webkit-font-feature-settings: "palt";
  -moz-font-feature-settings: "palt";
  -ms-font-feature-settings: "palt";
  -o-font-feature-settings: "palt";
  font-feature-settings: "palt";
}
@media screen and (max-width: 640px) {
  body {
    min-width: 100%;
    font-size: calc((24/750)*100vw);
  }
}

a:hover {
  opacity: .6;
  transition: .5s;
}

img {
  width: auto;
  max-width: 100%;
  height: auto;
  max-height: 100%;
  vertical-align: bottom;
}

.anchor {
  margin-top: -144px;
  padding-top: 144px;
}
@media screen and (max-width: 1580px) {
  .anchor {
    margin-top: calc((-144/1580)*100vw);
    padding-top: calc((144/1580)*100vw);
  }
}
@media screen and (max-width: 640px) {
  .anchor {
    margin-top: calc((-130/750)*100vw);
    padding-top: calc((130/750)*100vw);
  }
}

@media screen and (max-width: 640px) {
  .pc {
    display: none !important;
  }
}

.sp {
  display: none !important;
}
@media screen and (max-width: 640px) {
  .sp {
    display: inherit !important;
  }
}

.inner {
  width: 1200px;
  min-width: 1200px;
  margin: 0 auto;
  padding: 0 30px;
}
@media screen and (max-width: 640px) {
  .inner {
    width: 100%;
    min-width: 100%;
    padding: 0 calc((50/750)*100vw);
  }
}
.inner_middle {
  width: 1390px;
  margin: 0 auto;
  padding: 0 30px;
}
@media screen and (max-width: 1390px) {
  .inner_middle {
    width: 100%;
    min-width: 1200px;
  }
}
@media screen and (max-width: 640px) {
  .inner_middle {
    min-width: 100%;
    padding: 0 calc((50/750)*100vw);
  }
}
.inner_wide {
  width: 1580px;
  margin: 0 auto;
  padding: 0 30px;
}
@media screen and (max-width: 1580px) {
  .inner_wide {
    width: 100%;
    min-width: 1200px;
  }
}
@media screen and (max-width: 640px) {
  .inner_wide {
    min-width: 100%;
    padding: 0 calc((50/750)*100vw);
  }
}

.flex_wrap {
  -webkit-display: flex;
  -moz-display: flex;
  -ms-display: flex;
  -o-display: flex;
  display: flex;
  -webkit-align-items: flex-start;
  -moz-align-items: flex-start;
  -ms-align-items: flex-start;
  -o-align-items: flex-start;
  align-items: flex-start;
  justify-content: space-between;
}

/*---------------
   テキスト関係
---------------*/
.p {
  /*　基本のテキスト　*/
  	/*　<body>に設定のもの
  	font-size: 1.6rem;
  	letter-spacing: .1em;
  	text-indent: .1em;
  	line-height: 1.8;
    @include css3(font-feature-settings, "palt");
  	@media screen and (max-width: 640px) {
  		min-width: 100%;
  		font-size: calc((24/750)*100vw);	
  	}
  	*/
}
.p_red {
  color: #D80000 !important;
}
.p_center {
  text-align: center !important;
}
.p_pc_center {
  text-align: center !important;
}
@media screen and (max-width: 640px) {
  .p_pc_center {
    text-align: left !important;
  }
}
.p_catch {
  margin: 40px 0 50px;
  font-size: 2.8rem;
  letter-spacing: .15em;
  line-height: 1.7;
  text-align: center;
}
@media screen and (max-width: 640px) {
  .p_catch {
    margin: calc((50/750)*100vw) 0 calc((60/750)*100vw);
    font-size: calc((36/750)*100vw);
  }
}

/*---------------
   header
---------------*/
.header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  width: 100%;
  height: 144px;
  padding: 25px 0;
  background: #F1F2EE;
}
@media screen and (max-width: 1580px) {
  .header {
    height: calc((144/1580)*100vw);
    padding: calc((25/1580)*100vw) 0;
  }
}
@media screen and (max-width: 640px) {
  .header {
    height: calc((130/750)*100vw);
    padding: 0;
  }
}
.header .inner_wide {
  clear: both;
  overflow: hidden;
}
.header .header_logo {
  float: left;
  margin: 12px 0;
}
@media screen and (max-width: 1580px) {
  .header .header_logo {
    width: calc((475/1580)*100vw);
    margin: calc((12/1580)*100vw) 0;
  }
}
@media screen and (max-width: 640px) {
  .header .header_logo {
    width: calc((475/750)*100vw);
    margin: calc((30/750)*100vw) 0;
  }
}
.header .header_info {
  -webkit-display: flex;
  -moz-display: flex;
  -ms-display: flex;
  -o-display: flex;
  display: flex;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  -o-align-items: center;
  align-items: center;
  justify-content: flex-end;
  margin-bottom: 20px;
}
@media screen and (max-width: 1580px) {
  .header .header_info {
    margin-bottom: calc((20/1580)*100vw);
  }
}
@media screen and (max-width: 640px) {
  .header .header_info {
    display: block;
    margin-bottom: 0;
    padding: calc((40/750)*100vw);
    background: #FFF;
    border-radius: 10px;
    text-align: center;
  }
}
.header .header_info .tel {
  width: 287px;
}
@media screen and (max-width: 1580px) {
  .header .header_info .tel {
    width: calc((287/1580)*100vw);
  }
}
@media screen and (max-width: 640px) {
  .header .header_info .tel {
    width: 100%;
    color: #412210;
  }
}
@media screen and (max-width: 640px) {
  .header .header_info .tel .ttl {
    margin-bottom: calc((25/750)*100vw);
    font-size: calc((24/750)*100vw);
    font-weight: 700;
  }
}
@media screen and (max-width: 640px) {
  .header .header_info .tel .time {
    font-size: calc((20/750)*100vw);
  }
}
.header .header_info .contact {
  width: 340px;
  margin-left: 30px;
}
@media screen and (max-width: 1580px) {
  .header .header_info .contact {
    width: calc((340/1580)*100vw);
    margin-left: calc((30/1580)*100vw);
  }
}
@media screen and (max-width: 640px) {
  .header .header_info .contact {
    width: 100%;
    margin: calc((20/750)*100vw) 0 0;
  }
}
.header .header_info .contact a {
  -webkit-display: flex;
  -moz-display: flex;
  -ms-display: flex;
  -o-display: flex;
  display: flex;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  -o-align-items: center;
  align-items: center;
  justify-content: center;
  height: 45px;
  padding-left: 30px;
  border-radius: 25px;
  background: url("../images/common/contact_ico.png") top 50% left 30px no-repeat, #eb6e9b;
  background-size: 25px;
  color: #FFF;
  font-size: 1.6rem;
}
@media screen and (max-width: 1580px) {
  .header .header_info .contact a {
    height: calc((45/1580)*100vw);
    padding-left: calc((30/1580)*100vw);
    background: url("../images/common/contact_ico.png") top 50% left calc((30/1580)*100vw) no-repeat, #eb6e9b;
    background-size: calc((25/1580)*100vw);
    font-size: calc((16/1580)*100vw);
  }
}
@media screen and (max-width: 640px) {
  .header .header_info .contact a {
    height: calc((70/750)*100vw);
    padding-left: calc((40/750)*100vw);
    background: url("../images/common/contact_ico.png") top 50% left calc((40/750)*100vw) no-repeat, #eb6e9b;
    background-size: calc((36/750)*100vw);
    font-size: calc((27/750)*100vw);
  }
}
.header .gnav {
  float: right;
}
.header .gnav_button {
  display: none;
}
@media screen and (max-width: 640px) {
  .header .gnav_button {
    position: fixed;
    top: calc((40/750)*100vw);
    right: calc((30/750)*100vw);
    display: block;
    width: calc((40/750)*100vw);
    height: calc((40/750)*100vw);
    padding: 0;
    background: url("../images/common/header_btn_open.png") top 50% center no-repeat;
    background-size: contain;
    border: none;
    cursor: pointer;
    z-index: 9999;
    outline: none;
  }
}
@media screen and (max-width: 640px) {
  .header .gnav_button.active {
    background: url("../images/common/header_btn_close.png") top 50% center no-repeat;
    background-size: contain;
  }
}
.header .gnav_menu {
  -webkit-display: flex;
  -moz-display: flex;
  -ms-display: flex;
  -o-display: flex;
  display: flex;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  -o-align-items: center;
  align-items: center;
  justify-content: space-between;
}
@media screen and (max-width: 640px) {
  .header .gnav_menu {
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    -o-flex-direction: column;
    flex-direction: column;
    margin-bottom: calc((40/750)*100vw);
    padding: 0 calc((30/750)*100vw);
  }
}
.header .gnav_menu li {
  margin: 0 1em;
  font-size: 1.6rem;
}
@media screen and (max-width: 1580px) {
  .header .gnav_menu li {
    font-size: calc((16/1580)*100vw);
  }
}
@media screen and (max-width: 640px) {
  .header .gnav_menu li {
    width: 100%;
    font-size: calc((26/750)*100vw);
    text-align: center;
  }
}
@media screen and (max-width: 640px) {
  .header .gnav_menu li.sp {
    display: block !important;
  }
}
@media screen and (max-width: 640px) {
  .header .gnav_menu li a {
    display: block;
    margin: 0;
    padding: calc((20/750)*100vw);
  }
}
.header .gnav_menu li a:hover {
  opacity: .6;
  transition: .5s;
}
@media screen and (max-width: 640px) {
  .header .gnav_menu_wrapper {
    width: 100%;
    transition: all 0.2s;
    transform: translate(100%);
    position: fixed;
    top: 0;
    right: 0;
    z-index: 8888;
    padding: calc((70/750)*100vw) calc((50/750)*100vw) calc((50/750)*100vw);
    background: #fce9f0;
  }
}
@media screen and (max-width: 640px) {
  .header .gnav_menu_wrapper.open {
    transform: translate(0);
  }
}

/*---------------
   main
---------------*/
.main {
  margin-top: 144px;
  padding-bottom: 90px;
}
@media screen and (max-width: 1580px) {
  .main {
    margin-top: calc((144/1580)*100vw);
    padding-bottom: calc((90/1580)*100vw);
  }
}
@media screen and (max-width: 640px) {
  .main {
    margin-top: calc((130/750)*100vw);
    padding-bottom: calc((90/750)*100vw);
  }
}

.mv {
  background: url("../images/info/mv.png") top center no-repeat;
}
.mv .inner {
  position: relative;
  height: 420px;
}
@media screen and (max-width: 640px) {
  .mv .inner {
    height: calc((400/750)*100vw);
  }
}
.mv .mv_ttl {
  position: absolute;
  bottom: 0;
  left: 30px;
  color: #412210;
  font-size: 4.4rem;
  font-weight: 400;
  letter-spacing: .15em;
  line-height: 1.2;
}
@media screen and (max-width: 640px) {
  .mv .mv_ttl {
    left: calc((30/750)*100vw);
    font-size: calc((50/750)*100vw);
  }
}

.content {
  padding: 80px 0;
}
@media screen and (max-width: 640px) {
  .content {
    padding: calc((100/750)*100vw) 0;
  }
}
.content.gray {
  background: #f1f2ee;
}
.content.gray.wave {
  position: relative;
  margin: 60px 0;
}
@media screen and (max-width: 640px) {
  .content.gray.wave {
    margin: calc((65/750)*100vw) 0;
  }
}
.content.gray.wave:before {
  position: absolute;
  top: -60px;
  left: 0;
  content: '';
  width: 100%;
  height: 100px;
  background: url("../images/common/wave_gray_top.png") bottom center no-repeat;
}
@media screen and (max-width: 640px) {
  .content.gray.wave:before {
    top: calc((-65/750)*100vw);
    height: calc((70/750)*100vw);
    background: url("../images/common/wave_gray_top_sp.png") bottom center no-repeat;
    background-size: contain;
  }
}
.content.gray.wave:after {
  position: absolute;
  bottom: -60px;
  left: 0;
  content: '';
  width: 100%;
  height: 100px;
  background: url("../images/common/wave_gray_bottom.png") top center no-repeat;
}
@media screen and (max-width: 640px) {
  .content.gray.wave:after {
    bottom: calc((-65/750)*100vw);
    height: calc((70/750)*100vw);
    background: url("../images/common/wave_gray_bottom_sp.png") bottom center no-repeat;
    background-size: contain;
  }
}

.page_nav {
  margin: 50px 0;
}
@media screen and (max-width: 640px) {
  .page_nav {
    margin: calc((60/750)*100vw) 0;
  }
}
.page_nav ul {
  padding: 10px;
  background: rgba(249, 234, 211, 0.5);
  border-radius: 50px;
  font-weight: 300;
  text-align: center;
}
@media screen and (max-width: 640px) {
  .page_nav ul {
    padding: 0;
    background: none;
    border-radius: 0;
  }
}
.page_nav li {
  display: inline-block;
}
@media screen and (max-width: 640px) {
  .page_nav li {
    margin: calc((10/750)*100vw);
  }
}
.page_nav li:before {
  content: '|';
}
@media screen and (max-width: 640px) {
  .page_nav li:before {
    content: none;
  }
}
.page_nav li:first-child:before {
  content: none;
}
.page_nav li a {
  padding: 0 1.5em;
  letter-spacing: 0;
  line-height: 1.2;
}
@media screen and (max-width: 640px) {
  .page_nav li a {
    display: inline-block;
    padding: .5em 1.5em;
    background: rgba(249, 234, 211, 0.5);
  }
}
.page_nav.bottom {
  margin: 100px 0 0;
}
@media screen and (max-width: 640px) {
  .page_nav.bottom {
    margin-top: calc((100/750)*100vw);
  }
}
.page_nav.bottom .btn_contact {
  margin: 80px auto 0;
}
@media screen and (max-width: 640px) {
  .page_nav.bottom .btn_contact {
    margin-top: calc((80/750)*100vw);
  }
}

.gray .page_nav ul {
  background: #FFF;
}
@media screen and (max-width: 640px) {
  .gray .page_nav ul {
    background: none;
  }
}
@media screen and (max-width: 640px) {
  .gray .page_nav li a {
    background: #FFF;
  }
}

.lttl_line {
  position: relative;
  margin-bottom: 50px;
  padding-bottom: 20px;
  color: #dd4e99;
  font-size: 3.6rem;
  font-weight: 300;
  letter-spacing: .2em;
  text-align: center;
  line-height: 1.2;
}
@media screen and (max-width: 640px) {
  .lttl_line {
    margin-bottom: calc((50/750)*100vw);
    padding-bottom: calc((20/750)*100vw);
    font-size: calc((40/750)*100vw);
  }
}
.lttl_line span {
  position: relative;
  display: inline-block;
  padding-bottom: 20px;
}
@media screen and (max-width: 640px) {
  .lttl_line span {
    padding-bottom: calc((20/750)*100vw);
  }
}
.lttl_line span:after {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  content: '';
  width: 100%;
  height: 5px;
  background: url("../images/index/lttl_line.png") top center repeat-x;
  background-size: contain;
}
@media screen and (max-width: 640px) {
  .lttl_line span:after {
    height: calc((5/750)*100vw);
  }
}

.mttl {
  -webkit-display: flex;
  -moz-display: flex;
  -ms-display: flex;
  -o-display: flex;
  display: flex;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  -o-align-items: center;
  align-items: center;
  justify-content: center;
  margin: 80px 0 70px;
  min-height: 47px;
  background: url("../images/info/lttl_bg.png") top 50% center no-repeat;
  font-size: 2.4rem;
  font-weight: 500;
  letter-spacing: .15em;
  line-height: 1.2;
  text-align: center;
}
@media screen and (max-width: 640px) {
  .mttl {
    min-height: auto;
    margin: calc((80/750)*100vw) 0 calc((70/750)*100vw);
    padding-bottom: calc((40/750)*100vw);
    background: url("../images/info/lttl_bg.png") bottom center no-repeat;
    background-size: contain;
    font-size: calc((40/750)*100vw);
  }
}

.table_basic {
  width: 100%;
}
.table_basic tr {
  border-bottom: #CCC 1px solid;
}
.table_basic tr:first-child {
  border-top: #CCC 1px solid;
}
.table_basic th, .table_basic td {
  padding: .8em 0;
  font-size: 2.0rem;
  font-weight: 300;
  letter-spacing: .1em;
  line-height: 1.6;
  text-align: left;
  vertical-align: top;
}
@media screen and (max-width: 640px) {
  .table_basic th, .table_basic td {
    font-size: calc((24/750)*100vw);
  }
}
.table_basic th {
  width: 200px;
}
@media screen and (max-width: 640px) {
  .table_basic th {
    width: 30%;
  }
}
.table_basic td {
  padding: .8em .5em;
}

.btn_contact {
  width: 400px;
  margin: 50px auto 80px;
}
@media screen and (max-width: 640px) {
  .btn_contact {
    width: 100%;
    margin: calc((60/750)*100vw) auto calc((100/750)*100vw);
  }
}
.btn_contact a {
  -webkit-display: flex;
  -moz-display: flex;
  -ms-display: flex;
  -o-display: flex;
  display: flex;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  -o-align-items: center;
  align-items: center;
  justify-content: center;
  height: 60px;
  background: url("../images/common/btn_contact_arrow.png") top 50% right 20px no-repeat, #eb6e9b;
  border-radius: 30px;
  color: #FFF;
  font-size: 2.0rem;
  font-weight: 400;
  letter-spacing: .05em;
}
@media screen and (max-width: 640px) {
  .btn_contact a {
    height: calc((80/750)*100vw);
    background: url("../images/common/btn_contact_arrow.png") top 50% right calc((30/750)*100vw) no-repeat, #eb6e9b;
    background-size: calc((30/750)*100vw);
    font-size: calc((30/750)*100vw);
  }
}

/*---------------
   footer
---------------*/
.footer {
  position: relative;
  padding: 40px 0 65px;
  background: #f9e1ea;
}
@media screen and (max-width: 640px) {
  .footer {
    padding: calc((30/750)*100vw) 0 calc((30/750)*100vw);
  }
}
.footer:before {
  position: absolute;
  top: -90px;
  left: 0;
  content: '';
  width: 100%;
  height: 99px;
  background: url("../images/common/footer_bg.png") bottom center no-repeat;
}
@media screen and (max-width: 640px) {
  .footer:before {
    top: calc((-95/750)*100vw);
    height: calc((99/750)*100vw);
    background: url("../images/common/footer_bg_sp.png") bottom center no-repeat;
    background-size: contain;
  }
}
.footer .footer_top {
  -webkit-display: flex;
  -moz-display: flex;
  -ms-display: flex;
  -o-display: flex;
  display: flex;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  -o-align-items: center;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 70px;
}
@media screen and (max-width: 640px) {
  .footer .footer_top {
    display: block;
    margin-bottom: 0;
  }
}
.footer .footer_info {
  width: 475px;
  padding: 30px;
  background: #FFF;
  border-radius: 25px;
  color: #412210;
  text-align: center;
}
@media screen and (max-width: 640px) {
  .footer .footer_info {
    width: 100%;
    margin-bottom: calc((60/750)*100vw);
    padding: calc((40/750)*100vw);
    /*display: block;
    margin-bottom: 0;
    padding: calc((40/750)*100vw);
    background: $c_white;
    border-radius: 10px;
    text-align: center;	*/
  }
}
.footer .footer_info .tel {
  width: 380px;
  margin-bottom: 20px;
}
@media screen and (max-width: 640px) {
  .footer .footer_info .tel {
    width: calc((520/750)*100vw);
    margin-bottom: calc((20/750)*100vw);
  }
}
.footer .footer_info .tel .ttl {
  margin-bottom: 20px;
  color: #412210;
  font-size: 1.8rem;
  font-weight: 500;
  letter-spacing: 0;
}
@media screen and (max-width: 640px) {
  .footer .footer_info .tel .ttl {
    margin-bottom: calc((25/750)*100vw);
    font-size: calc((25/750)*100vw);
    font-weight: 700;
  }
}
.footer .footer_info .tel .time {
  font-size: 1.4rem;
}
@media screen and (max-width: 640px) {
  .footer .footer_info .tel .time {
    font-size: calc((20/750)*100vw);
  }
}
.footer .footer_info .contact a {
  -webkit-display: flex;
  -moz-display: flex;
  -ms-display: flex;
  -o-display: flex;
  display: flex;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  -o-align-items: center;
  align-items: center;
  justify-content: center;
  height: 50px;
  padding-left: 30px;
  border-radius: 25px;
  background: url("../images/common/contact_ico.png") top 50% left 30px no-repeat, #eb6e9b;
  background-size: 25px;
  color: #FFF;
  font-size: 2.0rem;
}
@media screen and (max-width: 640px) {
  .footer .footer_info .contact a {
    height: calc((70/750)*100vw);
    padding-left: calc((40/750)*100vw);
    background: url("../images/common/contact_ico.png") top 50% left calc((40/750)*100vw) no-repeat, #eb6e9b;
    background-size: calc((36/750)*100vw);
    font-size: calc((27/750)*100vw);
  }
}
.footer .footer_nav {
  width: 570px;
}
@media screen and (max-width: 640px) {
  .footer .footer_nav {
    width: 100%;
    margin-bottom: calc((80/750)*100vw);
  }
}
.footer .footer_nav_menu {
  -webkit-display: flex;
  -moz-display: flex;
  -ms-display: flex;
  -o-display: flex;
  display: flex;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  -o-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-align-items: flex-start;
  -moz-align-items: flex-start;
  -ms-align-items: flex-start;
  -o-align-items: flex-start;
  align-items: flex-start;
  justify-content: flex-start;
  margin-bottom: 30px;
  letter-spacing: .1em;
  font-size: 1.6rem;
}
@media screen and (max-width: 640px) {
  .footer .footer_nav_menu {
    justify-content: space-between;
    margin-bottom: calc((60/750)*100vw);
    font-size: calc((24/750)*100vw);
  }
}
.footer .footer_nav_menu li {
  width: 190px;
  margin-top: .7em;
}
@media screen and (max-width: 640px) {
  .footer .footer_nav_menu li {
    width: 48%;
  }
}
.footer .footer_nav_menu li:nth-child(-n+3) {
  margin-top: 0;
}
@media screen and (max-width: 640px) {
  .footer .footer_nav_menu li:nth-child(-n+3) {
    margin-top: .7em;
  }
}
@media screen and (max-width: 640px) {
  .footer .footer_nav_menu li:nth-child(-n+2) {
    margin-top: 0;
  }
}
.footer .footer_nav_group {
  -webkit-display: flex;
  -moz-display: flex;
  -ms-display: flex;
  -o-display: flex;
  display: flex;
  -webkit-align-items: flex-start;
  -moz-align-items: flex-start;
  -ms-align-items: flex-start;
  -o-align-items: flex-start;
  align-items: flex-start;
  justify-content: space-between;
  color: #FFF;
  font-size: 2.0rem;
  letter-spacing: .1em;
  text-align: center;
}
@media screen and (max-width: 640px) {
  .footer .footer_nav_group {
    font-size: calc((28/750)*100vw);
  }
}
.footer .footer_nav_group li {
  width: 48%;
}
.footer .footer_nav_group li a {
  -webkit-display: flex;
  -moz-display: flex;
  -ms-display: flex;
  -o-display: flex;
  display: flex;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  -o-align-items: center;
  align-items: center;
  justify-content: center;
  height: 50px;
  border-radius: 25px;
}
@media screen and (max-width: 640px) {
  .footer .footer_nav_group li a {
    height: calc((57/750)*100vw);
  }
}
.footer .footer_nav_group li.real a {
  background: url("../images/common/footer_nav_group_arrow.png") top 50% right 18px no-repeat, #f48d40;
}
@media screen and (max-width: 640px) {
  .footer .footer_nav_group li.real a {
    background: url("../images/common/footer_nav_group_arrow.png") top 50% right calc((20/750)*100vw) no-repeat, #f48d40;
    background-size: calc((24/750)*100vw);
  }
}
.footer .footer_nav_group li.ss a {
  background: url("../images/common/footer_nav_group_arrow.png") top 50% right 18px no-repeat, #5fa6d6;
}
@media screen and (max-width: 640px) {
  .footer .footer_nav_group li.ss a {
    background: url("../images/common/footer_nav_group_arrow.png") top 50% right calc((20/750)*100vw) no-repeat, #5fa6d6;
    background-size: calc((24/750)*100vw);
  }
}
.footer .footer_bottom {
  -webkit-display: flex;
  -moz-display: flex;
  -ms-display: flex;
  -o-display: flex;
  display: flex;
  -webkit-align-items: flex-start;
  -moz-align-items: flex-start;
  -ms-align-items: flex-start;
  -o-align-items: flex-start;
  align-items: flex-start;
  justify-content: space-between;
}
@media screen and (max-width: 640px) {
  .footer .footer_bottom {
    display: block;
  }
}
.footer .footer_logo {
  width: 475px;
  color: #412210;
  font-size: 1.4rem;
  letter-spacing: .2em;
}
@media screen and (max-width: 640px) {
  .footer .footer_logo {
    width: 100%;
    margin-bottom: calc((60/750)*100vw);
    font-size: calc((20/750)*100vw);
    letter-spacing: .1em;
  }
}
.footer .footer_logo img {
  display: block;
  margin-bottom: 10px;
}
@media screen and (max-width: 640px) {
  .footer .footer_logo img {
    width: calc((550/750)*100vw);
    margin: 0 auto calc((10/750)*100vw);
  }
}
.footer .footer_address {
  margin-bottom: 20px;
  font-style: normal;
  font-size: 1.6rem;
  line-height: 1.3;
  letter-spacing: .2em;
}
@media screen and (max-width: 640px) {
  .footer .footer_address {
    margin-bottom: calc((60/750)*100vw);
    font-size: calc((24/750)*100vw);
  }
}
.footer .footer_address_wrap {
  width: 570px;
  color: #412210;
}
@media screen and (max-width: 640px) {
  .footer .footer_address_wrap {
    width: 100%;
    text-align: center;
  }
}
.footer .footer_copy {
  font-size: 1.4rem;
  letter-spacing: .2em;
}
@media screen and (max-width: 640px) {
  .footer .footer_copy {
    font-size: calc((20/750)*100vw);
  }
}

.mgb0 {
  margin-bottom: 0 !important;
}

.mgt0 {
  margin-top: 0 !important;
}
