@charset "UTF-8";
/* Scss Document */
/* Scss Document */
input, select, textarea {
  padding: .5em;
  font-family: "游ゴシック体","Yu Gothic", YuGothic,"ヒラギノ角ゴ Pro W3","Hiragino Kaku Gothic Pro","メイリオ",Meiryo,"ＭＳ Ｐゴシック",sans-serif;
}

input[size="20"] {
  width: 50%;
}

input[size="30"] {
  width: 80%;
}

textarea {
  width: 100%;
}

/* iOSでのデフォルトスタイルをリセット */
input[type="submit"],
input[type="button"] {
  border-radius: 0;
  -webkit-box-sizing: content-box;
  -webkit-appearance: button;
  appearance: button;
  border: none;
  box-sizing: border-box;
}
input[type="submit"]::-webkit-search-decoration,
input[type="button"]::-webkit-search-decoration {
  display: none;
}
input[type="submit"]::focus,
input[type="button"]::focus {
  outline-offset: -2px;
}

.contact_btn {
  text-align: center;
}
.contact_btn input {
  display: inline-block;
  width: 300px;
  margin: 0 1em;
  padding: .5em 1em;
  background: #eb6e9b;
  border: none;
  border-radius: 5px;
  color: #FFF;
  font-size: 1.8rem;
  text-align: center;
}
.contact_btn input:hover {
  cursor: pointer;
  opacity: .6;
  transition: .5s;
}

@media screen and (max-width: 640px) {
  input[size="20"] {
    width: 100%;
  }

  input[size="30"] {
    width: 100%;
  }

  .contact_btn input {
    width: 80vw;
    margin: 0 0 1em;
    font-size: 4.3333333333vw;
  }
  .contact_btn input:last-child {
    margin-bottom: 0;
  }
}
