/* Scss Document */
/* Scss Document */
.mv {
  background: url("../images/faq/mv.png") top center no-repeat;
}
@media screen and (max-width: 640px) {
  .mv {
    background: url("../images/faq/mv_sp.png") top center no-repeat;
    background-size: 100% auto;
  }
}

.faq_list dt, .faq_list dd {
  position: relative;
}
.faq_list dt:before, .faq_list dd:before {
  position: absolute;
  width: 48px;
  height: 48px;
  border-radius: 25px;
  color: #FFF;
  font-size: 2.5rem;
  font-weight: 500;
  letter-spacing: 0;
  text-align: center;
}
@media screen and (max-width: 640px) {
  .faq_list dt:before, .faq_list dd:before {
    width: calc((70/750)*100vw);
    height: calc((70/750)*100vw);
    font-size: calc((40/750)*100vw);
    line-height: calc((60/750)*100vw);
  }
}
.faq_list dt {
  margin-top: 30px;
  padding: .5em 30px .5em 90px;
  background: rgba(249, 234, 211, 0.6);
  border-radius: 40px;
  font-size: 2.4rem;
  line-height: 1.7;
}
@media screen and (max-width: 640px) {
  .faq_list dt {
    margin-top: calc((40/750)*100vw);
    padding: 0.5em 0.5em 0.5em calc((100/750)*100vw);
    border-radius: calc((40/750)*100vw);
    font-size: calc((30/750)*100vw);
  }
}
.faq_list dt:before {
  top: 10px;
  left: 20px;
  content: 'Q';
  background: #A9CC91;
  font-weight: 500;
}
@media screen and (max-width: 640px) {
  .faq_list dt:before {
    top: calc((10/750)*100vw);
    left: calc((10/750)*100vw);
  }
}
.faq_list dt:hover {
  opacity: .6;
  transition: .5s;
  cursor: pointer;
}
.faq_list dd {
  display: none;
  margin: 40px 0 60px 40px;
  padding-left: 60px;
  font-size: 2.0rem;
  line-height: 2.0;
}
@media screen and (max-width: 640px) {
  .faq_list dd {
    margin: calc((40/750)*100vw) 0 calc((60/750)*100vw) 0;
    padding-left: calc((90/750)*100vw);
    font-size: calc((24/750)*100vw);
  }
}
.faq_list dd:before {
  top: -4px;
  left: 0px;
  content: 'A';
  background: #D24A98;
  line-height: 45px;
}
@media screen and (max-width: 640px) {
  .faq_list dd:before {
    top: calc((-5/750)*100vw);
    line-height: calc((70/750)*100vw);
  }
}

.gray .faq_list dt {
  background: #FFF;
}
