/* Scss Document */
/* Scss Document */
.mv {
  background: url("../images/flow/mv.png") top center no-repeat;
}
@media screen and (max-width: 640px) {
  .mv {
    background: url("../images/flow/mv_sp.png") top center no-repeat;
    background-size: 100% auto;
  }
}

.flow .flow_text {
  margin-bottom: 100px;
  font-size: 2.0rem;
  line-height: 2.0;
}
@media screen and (max-width: 640px) {
  .flow .flow_text {
    margin-bottom: calc((100/750)*100vw);
    font-size: calc((30/750)*100vw);
  }
}
.flow .flow_list {
  padding-left: 505px;
  background: url("../images/flow/flow_img.png") top left no-repeat;
}
@media screen and (max-width: 640px) {
  .flow .flow_list {
    padding: 0;
    background: none;
  }
}
.flow .flow_list li {
  margin-top: 50px;
}
@media screen and (max-width: 640px) {
  .flow .flow_list li {
    margin-top: calc((70/750)*100vw);
  }
}
.flow .flow_list li:first-child {
  margin-top: 0;
}
.flow .flow_list_ttl {
  -webkit-display: flex;
  -moz-display: flex;
  -ms-display: flex;
  -o-display: flex;
  display: flex;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  -o-align-items: center;
  align-items: center;
  justify-content: flex-start;
  margin-bottom: 20px;
  font-size: 2.4rem;
}
@media screen and (max-width: 640px) {
  .flow .flow_list_ttl {
    margin-bottom: calc((20/750)*100vw);
    font-size: calc((36/750)*100vw);
  }
}
.flow .flow_list_ttl .num {
  width: 67px;
  height: 67px;
  margin-right: 20px;
  background: #D24A98;
  border-radius: 40px;
  color: #FFF;
  font-size: 3.0rem;
  font-weight: 400;
  text-align: center;
  line-height: 67px;
  letter-spacing: 0;
}
@media screen and (max-width: 640px) {
  .flow .flow_list_ttl .num {
    width: calc((90/750)*100vw);
    height: calc((90/750)*100vw);
    margin-right: calc((20/750)*100vw);
    font-size: calc((40/750)*100vw);
    line-height: calc((90/750)*100vw);
  }
}
.flow .flow_list_text {
  font-size: 2.0rem;
  line-height: 2.0;
}
@media screen and (max-width: 640px) {
  .flow .flow_list_text {
    font-size: calc((24/750)*100vw);
  }
}

.contact .mttl {
  margin-top: 0;
}
.contact .btn_contact {
  width: 500px;
  margin-bottom: 0;
}
@media screen and (max-width: 640px) {
  .contact .btn_contact {
    width: 100%;
  }
}
.contact .btn_contact a {
  padding-left: 30px;
  background: url("../images/common/contact_ico.png") top 50% left 60px no-repeat, #eb6e9b;
}
@media screen and (max-width: 640px) {
  .contact .btn_contact a {
    padding-left: calc((30/750)*100vw);
    background: url("../images/common/contact_ico.png") top 50% left calc((50/750)*100vw) no-repeat, #eb6e9b;
    background-size: calc((40/750)*100vw);
  }
}
.contact .contact_sttl {
  font-size: 2.4rem;
  text-align: center;
}
@media screen and (max-width: 640px) {
  .contact .contact_sttl {
    font-size: calc((30/750)*100vw);
  }
}
.contact .contact_tel {
  color: #eb6c99;
  font-size: 4.0rem;
  text-align: center;
  letter-spacing: 0;
}
@media screen and (max-width: 640px) {
  .contact .contact_tel {
    font-size: calc((60/750)*100vw);
  }
}
.contact .contact_tel span {
  padding-left: 70px;
  background: url("../images/flow/ico_tel.png") top 50% left no-repeat;
}
@media screen and (max-width: 640px) {
  .contact .contact_tel span {
    padding-left: calc((90/750)*100vw);
    background-size: calc((70/750)*100vw);
  }
}
.contact .contact_time {
  text-align: center;
}
