@charset "UTF-8";
/* Scss Document */
/* Scss Document */
/*---------------
   共通
---------------*/
.mv {
  background: url("../images/guidance/mv.png") top center no-repeat;
}
@media screen and (max-width: 640px) {
  .mv {
    background: url("../images/guidance/mv_sp.png") top center no-repeat;
    background-size: 100% auto;
  }
}

.page_ttl .content {
  padding-bottom: 50px;
}
@media screen and (max-width: 640px) {
  .page_ttl .content {
    padding-bottom: 0;
  }
}
.page_ttl .inner {
  position: relative;
}
.page_ttl .lttl_line {
  margin-bottom: 0;
  padding-bottom: 0;
}
.page_ttl .btn_back {
  position: absolute;
  top: 20px;
  left: 30px;
}
@media screen and (max-width: 640px) {
  .page_ttl .btn_back {
    top: calc((-60/750)*100vw);
    left: calc((30/750)*100vw);
  }
}
.page_ttl .btn_back a {
  display: inline-block;
  width: 200px;
  padding: 0 0 2px 2.5em;
  background: url("../images/guidance/common/arrow_small_left.png") top 50% left 16px no-repeat, #A3C779;
  border-radius: 20px;
  color: #FFF;
  font-size: 1.8rem;
  font-weight: 400;
  letter-spacing: 0;
}
@media screen and (max-width: 640px) {
  .page_ttl .btn_back a {
    width: calc((300/750)*100vw);
    padding: 0 0 calc((3/750)*100vw) 2.5em;
    background: url("../images/guidance/common/arrow_small_left.png") top 50% left calc((20/750)*100vw) no-repeat, #A3C779;
    background-size: calc((10/750)*100vw);
    font-size: calc((28/750)*100vw);
  }
}

.guidance .mttl {
  margin-top: 130px;
}
@media screen and (max-width: 640px) {
  .guidance .mttl {
    margin-top: calc((130/750)*100vw);
  }
}
.guidance_sttl {
  margin: 60px 0 30px;
  color: #D24A98;
  font-size: 3.0rem;
  font-weight: 300;
  line-height: 1.6;
  text-align: center;
}
@media screen and (max-width: 640px) {
  .guidance_sttl {
    margin: calc((70/750)*100vw) 0 calc((40/750)*100vw);
    font-size: calc((36/750)*100vw);
  }
}

/*---------------
   トップページ
---------------*/
.index .index_list {
  -webkit-display: flex;
  -moz-display: flex;
  -ms-display: flex;
  -o-display: flex;
  display: flex;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  -o-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-align-items: flex-start;
  -moz-align-items: flex-start;
  -ms-align-items: flex-start;
  -o-align-items: flex-start;
  align-items: flex-start;
  justify-content: space-between;
}
@media screen and (max-width: 640px) {
  .index .index_list {
    display: block;
  }
}
.index .index_list_item {
  position: relative;
  width: 550px;
  margin-top: 50px;
  text-align: center;
}
@media screen and (max-width: 640px) {
  .index .index_list_item {
    width: 100%;
    margin-top: calc((80/750)*100vw);
  }
}
.index .index_list_item:nth-child(-n+2) {
  margin-top: 0;
}
@media screen and (max-width: 640px) {
  .index .index_list_item:nth-child(-n+2) {
    margin-top: calc((80/750)*100vw);
  }
}
@media screen and (max-width: 640px) {
  .index .index_list_item:first-child {
    margin-top: 0;
  }
}
.index .index_list_img {
  margin-bottom: 15px;
}
@media screen and (max-width: 640px) {
  .index .index_list_img {
    margin-bottom: calc((20/750)*100vw);
  }
}
.index .index_list_prefecture {
  position: absolute;
  top: 10px;
  left: 10px;
  background: #eb6e9b;
  padding: 0 10px;
  color: #FFF;
  font-size: 1.8rem;
  font-weight: 400;
}
@media screen and (max-width: 640px) {
  .index .index_list_prefecture {
    top: calc((20/750)*100vw);
    left: calc((20/750)*100vw);
    padding: 0 calc((15/750)*100vw);
    font-size: calc((23/750)*100vw);
  }
}
.index .index_list_ttl {
  margin-bottom: 15px;
  font-size: 2.0rem;
  font-weight: 700;
}
@media screen and (max-width: 640px) {
  .index .index_list_ttl {
    margin-bottom: calc((20/750)*100vw);
    font-size: calc((36/750)*100vw);
  }
}
.index .index_list_type {
  width: 300px;
  margin: 0 auto 15px;
  padding: .2em;
  background: #FCF2E4;
  border-radius: 20px;
  color: #eb6e9b;
  font-size: 1.6rem;
  font-weight: 400;
  letter-spacing: .1em;
}
@media screen and (max-width: 640px) {
  .index .index_list_type {
    width: calc((500/750)*100vw);
    margin-bottom: calc((20/750)*100vw);
    font-size: calc((30/750)*100vw);
  }
}
.index .index_list_address {
  font-style: normal;
}
.index .index_list_btn {
  margin: 15px 0 0;
  text-align: center;
}
@media screen and (max-width: 640px) {
  .index .index_list_btn {
    margin-top: calc((20/750)*100vw);
  }
}
.index .index_list_btn a {
  display: inline-block;
  width: 150px;
  padding: 0 0 2px;
  background: url("../images/common/arrow_small_right.png") top 50% right 16px no-repeat, #A3C779;
  border-radius: 20px;
  color: #FFF;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.5;
}
@media screen and (max-width: 640px) {
  .index .index_list_btn a {
    width: calc((300/750)*100vw);
    padding: calc((3/750)*100vw) 0 calc((5/750)*100vw);
    background: url("../images/common/arrow_small_right.png") top 50% right calc((20/750)*100vw) no-repeat, #A3C779;
    background-size: calc((10/750)*100vw);
    font-size: calc((28/750)*100vw);
  }
}

/*---------------
   各施設 トップページ
---------------*/
.page_nav_bottom ul {
  -webkit-display: flex;
  -moz-display: flex;
  -ms-display: flex;
  -o-display: flex;
  display: flex;
  justify-content: space-between;
}
@media screen and (max-width: 640px) {
  .page_nav_bottom ul {
    -webkit-flex-wrap: wrap;
    -moz-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    -o-flex-wrap: wrap;
    flex-wrap: wrap;
  }
}
.page_nav_bottom li {
  width: 270px;
  text-align: center;
  color: #FFF;
}
@media screen and (max-width: 640px) {
  .page_nav_bottom li {
    width: 48%;
    margin-top: calc((20/750)*100vw);
  }
}
@media screen and (max-width: 640px) {
  .page_nav_bottom li:nth-child(-n+2) {
    margin-top: 0;
  }
}
.page_nav_bottom li a {
  display: block;
  padding: 20px;
  background: #A3C779;
  border-radius: 10px;
}
@media screen and (max-width: 640px) {
  .page_nav_bottom li a {
    padding: calc((20/750)*100vw);
  }
}
.page_nav_bottom .ico {
  display: inline-block;
}
@media screen and (max-width: 640px) {
  .page_nav_bottom .ico {
    width: calc((80/750)*100vw);
    margin: 0 auto;
  }
}
.page_nav_bottom .page {
  margin: 5px 0 10px;
  font-size: 2.2rem;
  font-weight: 500;
}
@media screen and (max-width: 640px) {
  .page_nav_bottom .page {
    margin: calc((5/750)*100vw) 0 calc((10/750)*100vw);
    font-size: calc((26/750)*100vw);
  }
}
.page_nav_bottom .detail {
  width: 150px;
  margin: 0 auto;
  background: url("../images/common/arrow_small_right.png") top 50% right 12px no-repeat, #000;
  border-radius: 15px;
  font-size: 1.8rem;
  font-weight: 400;
}
@media screen and (max-width: 640px) {
  .page_nav_bottom .detail {
    width: calc((200/750)*100vw);
    background: url("../images/common/arrow_small_right.png") top 50% right calc((20/750)*100vw) no-repeat, #000;
    background-size: calc((10/750)*100vw);
    font-size: calc((26/750)*100vw);
    letter-spacing: .2em;
  }
}

.slide .content {
  width: 100%;
  overflow-x: hidden;
  padding-top: 30px;
}
@media screen and (max-width: 640px) {
  .slide .content {
    padding-top: calc((100/750)*100vw);
  }
}
.slide .bx-wrapper {
  width: 1000px;
  margin: 0 auto 30px;
  background: none;
  border: none;
  box-shadow: none;
}
@media screen and (max-width: 640px) {
  .slide .bx-wrapper {
    width: 100%;
    margin-bottom: calc((40/750)*100vw);
  }
}
.slide .bx-wrapper .bx-viewport {
  overflow: visible !important;
}
@media screen and (max-width: 640px) {
  .slide .bx-wrapper .bx-viewport {
    overflow: hidden !important;
  }
}
.slide .bx-wrapper .bx-loading {
  display: none;
}
.slide .bx-wrapper .bx-prev {
  left: -60px;
  background: url("../images/guidance/common/slide_prev.png") top center no-repeat;
}
@media screen and (max-width: 640px) {
  .slide .bx-wrapper .bx-prev {
    left: calc((-30/750)*100vw);
    background-size: contain;
  }
}
.slide .bx-wrapper .bx-next {
  right: -60px;
  background: url("../images/guidance/common/slide_next.png") top center no-repeat;
}
@media screen and (max-width: 640px) {
  .slide .bx-wrapper .bx-next {
    right: calc((-30/750)*100vw);
    background-size: contain;
  }
}
.slide .bx-wrapper .bx-controls-direction a {
  width: 51px;
  height: 51px;
  margin-top: -25px;
}
@media screen and (max-width: 640px) {
  .slide .bx-wrapper .bx-controls-direction a {
    width: calc((60/750)*100vw);
    height: calc((60/750)*100vw);
    margin-top: calc((-30/750)*100vw);
  }
}
.slide .thumb_list {
  -webkit-display: flex;
  -moz-display: flex;
  -ms-display: flex;
  -o-display: flex;
  display: flex;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  -o-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-align-items: flex-start;
  -moz-align-items: flex-start;
  -ms-align-items: flex-start;
  -o-align-items: flex-start;
  align-items: flex-start;
  justify-content: flex-start;
}
.slide .thumb_list li {
  width: 103px;
  margin: 20px 0 0 12px;
}
@media screen and (max-width: 640px) {
  .slide .thumb_list li {
    width: calc((120/750)*100vw);
    margin: calc((15/750)*100vw) 0 0 calc((12/750)*100vw);
  }
}
.slide .thumb_list li:nth-child(-n+10) {
  margin-top: 0;
}
@media screen and (max-width: 640px) {
  .slide .thumb_list li:nth-child(-n+10) {
    margin-top: calc((15/750)*100vw);
  }
}
@media screen and (max-width: 640px) {
  .slide .thumb_list li:nth-child(-n+5) {
    margin-top: 0;
  }
}
.slide .thumb_list li:nth-child(10n+1) {
  margin-left: 0;
}
@media screen and (max-width: 640px) {
  .slide .thumb_list li:nth-child(10n+1) {
    margin-left: calc((10/750)*100vw);
  }
}
.slide .thumb_list li:nth-child(5n+1) {
  margin-left: 0;
}
@media screen and (max-width: 640px) {
  .slide .thumb_list li:nth-child(5n+1) {
    margin-left: 0;
  }
}

.feature .content {
  padding-top: 0;
}
.feature .mttl {
  margin-top: 0;
}
.feature .feature_wrap {
  -webkit-display: flex;
  -moz-display: flex;
  -ms-display: flex;
  -o-display: flex;
  display: flex;
  -webkit-align-items: flex-start;
  -moz-align-items: flex-start;
  -ms-align-items: flex-start;
  -o-align-items: flex-start;
  align-items: flex-start;
  justify-content: space-between;
}
@media screen and (max-width: 640px) {
  .feature .feature_wrap {
    display: block;
  }
}
.feature .feature_textarea {
  width: 600px;
}
@media screen and (max-width: 640px) {
  .feature .feature_textarea {
    width: 100%;
    margin-bottom: 2em;
  }
}
.feature .feature_text {
  margin-top: 2em;
  font-size: 2.0rem;
  font-weight: 300;
  line-height: 2.0;
}
@media screen and (max-width: 640px) {
  .feature .feature_text {
    font-size: calc((24/750)*100vw);
  }
}
.feature .feature_text:first-of-type {
  margin-top: 0;
}
.feature .feature_img {
  width: 500px;
}
@media screen and (max-width: 640px) {
  .feature .feature_img {
    width: 100%;
  }
}

/*---------------
   各施設 施設での暮らしページ
---------------*/
.live .content {
  padding: 0;
  padding-top: 30px;
}
@media screen and (max-width: 640px) {
  .live .content {
    padding-top: calc((100/750)*100vw);
  }
}
.live .mttl {
  position: relative;
}
.live .mttl:before {
  position: absolute;
  top: -90px;
  left: 50%;
  transform: translateX(-50%);
  content: '';
  width: 80px;
  height: 80px;
  background: url("../images/guidance/common/live_mttl_ico.png") top center no-repeat;
}
@media screen and (max-width: 640px) {
  .live .mttl:before {
    top: calc((-80/750)*100vw);
    width: calc((80/750)*100vw);
    height: calc((80/750)*100vw);
    background-size: contain;
  }
}
.live .live_text {
  font-size: 3.0rem;
  font-weight: 300;
  letter-spacing: .15em;
  line-height: 1.6;
}
@media screen and (max-width: 640px) {
  .live .live_text {
    font-size: calc((36/750)*100vw);
  }
}
.live .live_list {
  margin-top: -80px;
}
@media screen and (max-width: 640px) {
  .live .live_list {
    margin: 0;
  }
}
.live .live_list li {
  position: relative;
  width: 550px;
  padding: 130px 0 70px;
}
@media screen and (max-width: 640px) {
  .live .live_list li {
    width: 100%;
    margin-top: calc((100/750)*100vw);
    padding: 0;
  }
}
.live .live_list .monday .live_sttl, .live .live_list .tuesday .live_sttl, .live .live_list .wednesday .live_sttl, .live .live_list .thursday .live_sttl, .live .live_list .friday .live_sttl {
  background: url("../images/guidance/home_ikoma/live_sttl_ico01.png") top 50% left no-repeat;
  color: #D1871D;
}
@media screen and (max-width: 640px) {
  .live .live_list .monday .live_sttl, .live .live_list .tuesday .live_sttl, .live .live_list .wednesday .live_sttl, .live .live_list .thursday .live_sttl, .live .live_list .friday .live_sttl {
    background-size: calc((50/750)*100vw);
  }
}
.live .live_list .monday .live_plan dt, .live .live_list .tuesday .live_plan dt, .live .live_list .wednesday .live_plan dt, .live .live_list .thursday .live_plan dt, .live .live_list .friday .live_plan dt {
  background: #D1891D;
}
.live .live_list .monday, .live .live_list .wednesday, .live .live_list .friday, .live .live_list .sunday {
  margin-right: auto;
}
@media screen and (max-width: 640px) {
  .live .live_list .monday, .live .live_list .wednesday, .live .live_list .friday, .live .live_list .sunday {
    margin-right: 0;
  }
}
.live .live_list .monday .live_img, .live .live_list .wednesday .live_img, .live .live_list .friday .live_img, .live .live_list .sunday .live_img {
  right: -590px;
}
@media screen and (max-width: 640px) {
  .live .live_list .monday .live_img, .live .live_list .wednesday .live_img, .live .live_list .friday .live_img, .live .live_list .sunday .live_img {
    right: auto;
  }
}
.live .live_list .tuesday, .live .live_list .thursday, .live .live_list .saturday {
  margin-left: auto;
}
@media screen and (max-width: 640px) {
  .live .live_list .tuesday, .live .live_list .thursday, .live .live_list .saturday {
    margin-left: 0;
  }
}
.live .live_list .tuesday .live_img, .live .live_list .thursday .live_img, .live .live_list .saturday .live_img {
  left: -590px;
}
@media screen and (max-width: 640px) {
  .live .live_list .tuesday .live_img, .live .live_list .thursday .live_img, .live .live_list .saturday .live_img {
    left: auto;
  }
}
.live .live_list .monday .live_img {
  top: 250px;
}
@media screen and (max-width: 640px) {
  .live .live_list .monday .live_img {
    top: calc((350/750)*100vw);
  }
}
.live .live_list .tuesday:before {
  position: absolute;
  top: -70px;
  left: -140px;
  content: '';
  width: 150px;
  height: 149px;
  background: url("../images/guidance/home_ikoma/live_arrow01.png") top center no-repeat;
}
@media screen and (max-width: 640px) {
  .live .live_list .tuesday:before {
    content: none;
  }
}
.live .live_list .wednesday:before {
  position: absolute;
  top: -10px;
  right: -50px;
  content: '';
  width: 150px;
  height: 149px;
  background: url("../images/guidance/home_ikoma/live_arrow02.png") top center no-repeat;
}
@media screen and (max-width: 640px) {
  .live .live_list .wednesday:before {
    content: none;
  }
}
.live .live_list .wednesday .live_img {
  top: 250px;
}
@media screen and (max-width: 640px) {
  .live .live_list .wednesday .live_img {
    top: calc((350/750)*100vw);
  }
}
.live .live_list .thursday:before {
  position: absolute;
  top: -60px;
  left: -140px;
  content: '';
  width: 150px;
  height: 149px;
  background: url("../images/guidance/home_ikoma/live_arrow03.png") top center no-repeat;
}
@media screen and (max-width: 640px) {
  .live .live_list .thursday:before {
    content: none;
  }
}
.live .live_list .friday:before {
  position: absolute;
  top: -10px;
  right: -50px;
  content: '';
  width: 150px;
  height: 149px;
  background: url("../images/guidance/home_ikoma/live_arrow02.png") top center no-repeat;
}
@media screen and (max-width: 640px) {
  .live .live_list .friday:before {
    content: none;
  }
}
.live .live_list .saturday:before {
  position: absolute;
  top: -100px;
  left: -140px;
  content: '';
  width: 150px;
  height: 149px;
  background: url("../images/guidance/home_ikoma/live_arrow04.png") top center no-repeat;
}
@media screen and (max-width: 640px) {
  .live .live_list .saturday:before {
    content: none;
  }
}
.live .live_list .saturday .live_sttl {
  background: url("../images/guidance/home_ikoma/live_sttl_ico02.png") top 50% left no-repeat;
  color: #A3C779;
}
@media screen and (max-width: 640px) {
  .live .live_list .saturday .live_sttl {
    background-size: calc((50/750)*100vw);
  }
}
.live .live_list .saturday .live_plan dt {
  background: #A3C779;
}
.live .live_list .sunday:before {
  position: absolute;
  top: -10px;
  right: -50px;
  content: '';
  width: 150px;
  height: 149px;
  background: url("../images/guidance/home_ikoma/live_arrow05.png") top center no-repeat;
}
@media screen and (max-width: 640px) {
  .live .live_list .sunday:before {
    content: none;
  }
}
.live .live_list .sunday .live_sttl {
  background: url("../images/guidance/home_ikoma/live_sttl_ico03.png") top 50% left no-repeat;
  color: #EB6D9A;
}
@media screen and (max-width: 640px) {
  .live .live_list .sunday .live_sttl {
    background-size: calc((50/750)*100vw);
  }
}
.live .live_list .sunday .live_plan dt {
  background: #EB6E9B;
}
.live .live_sttl {
  margin-bottom: 30px;
  padding-left: 60px;
  font-size: 3.0rem;
  font-weight: 400;
  line-height: 1.2;
}
@media screen and (max-width: 640px) {
  .live .live_sttl {
    margin-bottom: calc((30/750)*100vw);
    padding-left: calc((60/750)*100vw);
    font-size: calc((40/750)*100vw);
  }
}
.live .live_sttl span {
  font-size: 5.0rem;
}
@media screen and (max-width: 640px) {
  .live .live_sttl span {
    font-size: calc((60/750)*100vw);
  }
}
.live .live_plan {
  -webkit-display: flex;
  -moz-display: flex;
  -ms-display: flex;
  -o-display: flex;
  display: flex;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  -o-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-align-items: flex-start;
  -moz-align-items: flex-start;
  -ms-align-items: flex-start;
  -o-align-items: flex-start;
  align-items: flex-start;
  justify-content: space-between;
  font-size: 2.0rem;
}
@media screen and (max-width: 640px) {
  .live .live_plan {
    font-size: calc((30/750)*100vw);
  }
}
.live .live_plan dt {
  width: 100px;
  padding: .1em;
  margin-bottom: 10px;
  color: #FFF;
  border-radius: 20px;
  text-align: center;
  line-height: 1.4;
}
@media screen and (max-width: 640px) {
  .live .live_plan dt {
    width: 20%;
    margin-bottom: calc((15/750)*100vw);
  }
}
.live .live_plan dd {
  width: 425px;
  margin-bottom: 10px;
  font-weight: 300;
}
@media screen and (max-width: 640px) {
  .live .live_plan dd {
    width: 75%;
    margin-bottom: calc((15/750)*100vw);
  }
}
.live .live_img {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 550px;
}
@media screen and (max-width: 640px) {
  .live .live_img {
    position: static;
    transform: translate(0, 0);
    width: 100%;
    margin-top: calc((50/750)*100vw);
  }
}

.meal .meal_text {
  margin-bottom: 60px;
  font-size: 3.0rem;
  font-weight: 300;
  letter-spacing: .15em;
  line-height: 1.6;
  text-align: center;
}
@media screen and (max-width: 640px) {
  .meal .meal_text {
    margin-bottom: calc((70/750)*100vw);
    font-size: calc((36/750)*100vw);
    text-align: left;
  }
}
.meal .meal_img_list {
  -webkit-display: flex;
  -moz-display: flex;
  -ms-display: flex;
  -o-display: flex;
  display: flex;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  -o-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-align-items: flex-start;
  -moz-align-items: flex-start;
  -ms-align-items: flex-start;
  -o-align-items: flex-start;
  align-items: flex-start;
  justify-content: space-between;
  margin-bottom: 70px;
}
@media screen and (max-width: 640px) {
  .meal .meal_img_list {
    margin-bottom: calc((80/750)*100vw);
  }
}
.meal .meal_img_list li {
  width: 200px;
  margin: 30px 0 0;
}
@media screen and (max-width: 640px) {
  .meal .meal_img_list li {
    width: 18%;
    margin: calc((20/750)*100vw) 0 0;
  }
}
.meal .meal_img_list li:nth-child(-n+5) {
  margin-top: 0;
}
.meal .meal_wrap {
  -webkit-display: flex;
  -moz-display: flex;
  -ms-display: flex;
  -o-display: flex;
  display: flex;
  justify-content: space-between;
  margin-bottom: 60px;
}
@media screen and (max-width: 640px) {
  .meal .meal_wrap {
    display: block;
    margin-bottom: calc((70/750)*100vw);
  }
}
.meal .meal_wrap dl {
  width: 360px;
  padding: 0 30px 50px;
  background: rgba(249, 234, 211, 0.5);
}
@media screen and (max-width: 640px) {
  .meal .meal_wrap dl {
    position: relative;
    width: calc(100% - (40/750)*100vw );
    margin: calc((60/750)*100vw) 0 0 calc((40/750)*100vw);
    padding: calc((30/750)*100vw);
  }
}
.meal .meal_wrap dl.breakfast dt span {
  background: #D1891D;
}
.meal .meal_wrap dl.breakfast dd {
  color: #9A6614;
}
.meal .meal_wrap dl.lunch dt span {
  background: #EB6E9B;
}
.meal .meal_wrap dl.lunch dd {
  color: #E02667;
}
.meal .meal_wrap dl.dinner dt span {
  background: #A3C779;
}
.meal .meal_wrap dl.dinner dd {
  color: #6E963F;
}
.meal .meal_wrap dt {
  margin: -20px 0 20px;
  text-align: center;
}
@media screen and (max-width: 640px) {
  .meal .meal_wrap dt {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translate(-50%, -50%);
    margin: 0;
  }
}
.meal .meal_wrap dt span {
  display: inline-block;
  padding: .3em 1.5em;
  border-radius: 30px;
  color: #FFF;
  font-size: 3.0rem;
  font-weight: 500;
  line-height: 1.2;
}
@media screen and (max-width: 640px) {
  .meal .meal_wrap dt span {
    padding: 1.5em .3em;
    font-size: calc((36/750)*100vw);
    -ms-writing-mode: tb-rl;
    writing-mode: vertical-rl;
  }
}
.meal .meal_wrap dd {
  font-size: 2.0rem;
  font-weight: 700;
  line-height: 2.0;
  text-align: center;
}
@media screen and (max-width: 640px) {
  .meal .meal_wrap dd {
    font-size: calc((30/750)*100vw);
  }
}
.meal .meal_note li {
  margin-top: .2em;
  text-align: center;
}
@media screen and (max-width: 640px) {
  .meal .meal_note li {
    padding-left: 1em;
    text-indent: -1em;
    text-align: left;
  }
}
.meal .meal_note li:first-child {
  margin-top: 0;
}

/*---------------
   各施設 施設案内ページ
---------------*/
.guide .content {
  padding-top: 0;
  padding-top: 30px;
}
@media screen and (max-width: 640px) {
  .guide .content {
    padding-top: calc((100/750)*100vw);
  }
}
.guide .mttl {
  position: relative;
}
.guide .mttl:before {
  position: absolute;
  top: -90px;
  left: 50%;
  transform: translateX(-50%);
  content: '';
  width: 80px;
  height: 80px;
  background: url("../images/guidance/common/guide_mttl_ico.png") top center no-repeat;
}
@media screen and (max-width: 640px) {
  .guide .mttl:before {
    top: calc((-80/750)*100vw);
    width: calc((80/750)*100vw);
    height: calc((80/750)*100vw);
    background-size: contain;
  }
}
.guide figure {
  text-align: center;
}
@media screen and (max-width: 640px) {
  .guide figure {
    line-height: 1.2;
    margin-bottom: calc((60/750)*100vw);
  }
}
.guide figure figucaption {
  font-size: 2.0rem;
  font-weight: 300;
  text-align: center;
}
@media screen and (max-width: 640px) {
  .guide figure figucaption {
    font-size: calc((24/750)*100vw);
  }
}
.guide .guide_wrap {
  -webkit-display: flex;
  -moz-display: flex;
  -ms-display: flex;
  -o-display: flex;
  display: flex;
  -webkit-align-items: flex-start;
  -moz-align-items: flex-start;
  -ms-align-items: flex-start;
  -o-align-items: flex-start;
  align-items: flex-start;
  justify-content: space-between;
  margin-bottom: 60px;
}
@media screen and (max-width: 640px) {
  .guide .guide_wrap {
    -webkit-flex-wrap: wrap;
    -moz-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    -o-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-bottom: 0;
  }
}
.guide .guide_col2_30 {
  width: 350px;
}
@media screen and (max-width: 640px) {
  .guide .guide_col2_30 {
    width: 100%;
  }
}
.guide .guide_col2_50 {
  width: 550px;
}
@media screen and (max-width: 640px) {
  .guide .guide_col2_50 {
    width: 48%;
  }
}
.guide .guide_col2_65 {
  width: 750px;
}
@media screen and (max-width: 640px) {
  .guide .guide_col2_65 {
    width: 100%;
  }
}
.guide .guide_col3_30 {
  width: 360px;
}
@media screen and (max-width: 640px) {
  .guide .guide_col3_30 {
    width: 32%;
  }
}
.guide .guide_sttl {
  margin-bottom: 50px;
  color: #D24A98;
  font-size: 3.7rem;
  font-weight: 300;
  letter-spacing: .15em;
  line-height: 1.6;
}
@media screen and (max-width: 640px) {
  .guide .guide_sttl {
    margin-bottom: calc((60/750)*100vw);
    font-size: calc((36/750)*100vw);
    text-align: center;
  }
}
.guide .guide_text {
  margin-bottom: 50px;
  font-size: 2.0rem;
  font-weight: 300;
  line-height: 2.0;
}
@media screen and (max-width: 640px) {
  .guide .guide_text {
    margin: calc((60/750)*100vw) 0;
    font-size: calc((24/750)*100vw);
  }
}

/*---------------
   各施設 所在地・アクセスページ
---------------*/
.access .content {
  padding-top: 0;
  padding-top: 30px;
}
@media screen and (max-width: 640px) {
  .access .content {
    padding-top: calc((100/750)*100vw);
  }
}
.access .table_basic .tel {
  padding: .3em 0;
  color: #D24A98;
  font-size: 3.0rem;
  font-weight: 500;
}
@media screen and (max-width: 640px) {
  .access .table_basic .tel {
    font-size: calc((36/750)*100vw);
  }
}
.access .mttl {
  position: relative;
}
.access .mttl:before {
  position: absolute;
  top: -90px;
  left: 50%;
  transform: translateX(-50%);
  content: '';
  width: 80px;
  height: 80px;
  background: url("../images/guidance/common/guide_mttl_ico.png") top center no-repeat;
}
@media screen and (max-width: 640px) {
  .access .mttl:before {
    top: calc((-80/750)*100vw);
    width: calc((80/750)*100vw);
    height: calc((80/750)*100vw);
    background-size: contain;
  }
}
.access .guidance_sttl .train {
  display: inline-block;
  padding-left: 40px;
  background: url("../images/guidance/common/access_sttl_train.png") top 50% left no-repeat;
}
@media screen and (max-width: 640px) {
  .access .guidance_sttl .train {
    padding-left: calc((40/750)*100vw);
    background-size: calc((30/750)*100vw);
  }
}
.access .guidance_sttl .car {
  display: inline-block;
  padding-left: 40px;
  background: url("../images/guidance/common/access_sttl_car.png") top 50% left no-repeat;
}
@media screen and (max-width: 640px) {
  .access .guidance_sttl .car {
    padding-left: calc((40/750)*100vw);
    background-size: calc((30/750)*100vw);
  }
}
.access .access_address {
  margin-bottom: 50px;
  font-style: normal;
  color: #D24A98;
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 1.2;
  text-align: center;
}
@media screen and (max-width: 640px) {
  .access .access_address {
    margin-bottom: calc((60/750)*100vw);
    font-size: calc((36/750)*100vw);
  }
}
@media screen and (max-width: 640px) {
  .access .access_gmap {
    width: 100%;
    height: calc((500/750)*100vw);
  }
}
@media screen and (max-width: 640px) {
  .access .access_street {
    width: 100%;
    height: calc((500/750)*100vw);
  }
}

/*---------------
   各施設 ご入居・費用について
---------------*/
.outline .content {
  padding-top: 0;
  padding-top: 30px;
}
@media screen and (max-width: 640px) {
  .outline .content {
    padding-top: calc((100/750)*100vw);
  }
}
.outline .mttl {
  position: relative;
}
.outline .mttl:before {
  position: absolute;
  top: -90px;
  left: 50%;
  transform: translateX(-50%);
  content: '';
  width: 80px;
  height: 80px;
  background: url("../images/guidance/common/outline_mttl_ico.png") top center no-repeat;
}
@media screen and (max-width: 640px) {
  .outline .mttl:before {
    top: calc((-80/750)*100vw);
    width: calc((80/750)*100vw);
    height: calc((80/750)*100vw);
    background-size: contain;
  }
}
.outline .table_basic td .note {
  display: inline-block;
  margin-left: 1.5em;
  font-size: 1.6rem;
}
@media screen and (max-width: 640px) {
  .outline .table_basic td .note {
    display: block;
    margin-left: 0;
    padding-left: 1em;
    text-indent: -1em;
    font-size: calc((22/750)*100vw);
  }
}
.outline .table_basic td .strong {
  margin: .5em 0;
  color: #D80000;
  font-weight: 500;
}
.outline .table_basic td .small {
  font-size: 1.8rem;
}
@media screen and (max-width: 640px) {
  .outline .table_basic td .small {
    font-size: calc((22/750)*100vw);
  }
}
.outline .table_basic td .ttl_detail {
  margin: .5em 0;
  font-weight: 400;
}
.outline .table_basic td dl dt, .outline .table_basic td dl dd {
  display: inline-block;
  font-size: 1.8rem;
  vertical-align: top;
}
@media screen and (max-width: 640px) {
  .outline .table_basic td dl dt, .outline .table_basic td dl dd {
    font-size: calc((24/750)*100vw);
  }
}
.outline .table_basic td dl dt {
  width: 13%;
}
@media screen and (max-width: 640px) {
  .outline .table_basic td dl dt {
    width: 35%;
  }
}
.outline .table_basic td dl dd {
  width: 86%;
}
@media screen and (max-width: 640px) {
  .outline .table_basic td dl dd {
    width: 62%;
  }
}
.outline .ontline_note {
  margin-top: 20px;
}
@media screen and (max-width: 640px) {
  .outline .ontline_note {
    margin-top: calc((30/750)*100vw);
  }
}
.outline .ontline_note li {
  padding-left: 1em;
  text-indent: -1em;
  font-size: 1.6rem;
  font-weight: 300;
  line-height: 1.6;
}
@media screen and (max-width: 640px) {
  .outline .ontline_note li {
    font-size: calc((22/750)*100vw);
  }
}
