/* Scss Document */
/* Scss Document */
.index_content {
  padding: 80px 0;
}

@media screen and (max-width: 640px) {
  .index_content {
    padding: calc((100/750)*100vw) 0;
  }
}

.index_content.pink {
  background: #eb6e9b;
  margin: 50px 0;
}

@media screen and (max-width: 640px) {
  .index_content.pink {
    margin: calc((96/750)*100vw) 0;
  }
}

.index_content.pink.wave {
  position: relative;
}

.index_content.pink.wave:before {
  position: absolute;
  top: -96px;
  left: 0;
  content: '';
  width: 100%;
  height: 100px;
  background: url("../images/index/wave_pink_top.png") bottom center no-repeat;
  z-index: 1;
}

@media screen and (max-width: 640px) {
  .index_content.pink.wave:before {
    top: calc((-96/750)*100vw);
    height: calc((98/750)*100vw);
    background: url("../images/index/wave_pink_top_sp.png") bottom center no-repeat;
    background-size: 100% auto;
  }
}

.index_content.pink.wave:after {
  position: absolute;
  bottom: -50px;
  left: 0;
  content: '';
  width: 100%;
  height: 100px;
  background: url("../images/index/wave_pink_bottom.png") top center no-repeat;
  z-index: 1;
}

@media screen and (max-width: 640px) {
  .index_content.pink.wave:after {
    bottom: calc((-96/750)*100vw);
    height: calc((98/750)*100vw);
    background: url("../images/index/wave_pink_bottom_sp.png") top center no-repeat;
    background-size: 100% auto;
  }
}

.mv .bx-wrapper {
  width: 100%;
  max-width: 1920px !important;
  margin: 0 auto;
  margin-bottom: 0;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  border: none;
}

@media screen and (max-width: 640px) {
  .mv .bx-wrapper {
    background: #fce9f0;
  }
}

.mv .bx-wrapper img {
  max-width: 1920px;
  width: 100%;
}

.mv .bx-wrapper .bx-pager {
  display: none;
}

.intro {
  position: relative;
  margin-top: -50px;
}

@media screen and (max-width: 640px) {
  .intro {
    margin-top: 0;
  }
}

.intro .index_content {
  padding: 200px 0 150px;
  background: url("../images/index/intro_bg.png") top -80px center no-repeat;
}

@media screen and (max-width: 640px) {
  .intro .index_content {
    padding: calc((70/750)*100vw) 0 calc((680/750)*100vw);
    background: url("../images/index/intro_bg_sp.png") bottom center no-repeat;
    background-size: 100% auto;
  }
}

.intro .intro_lttl {
  margin-bottom: 30px;
  color: #dd4e99;
  font-size: 5.0rem;
  font-weight: 300;
  letter-spacing: .2em;
  line-height: 1.44;
}

@media screen and (max-width: 640px) {
  .intro .intro_lttl {
    margin-bottom: calc((30/750)*100vw);
    font-size: calc((54/750)*100vw);
    line-height: 1.33;
  }
}

.intro .intro_text {
  margin-bottom: 60px;
  font-size: 2.0rem;
  font-weight: 300;
  line-height: 2.0;
  letter-spacing: .15em;
}

@media screen and (max-width: 640px) {
  .intro .intro_text {
    margin-bottom: calc((60/750)*100vw);
    font-size: calc((26/750)*100vw);
    line-height: 1.8;
  }
}

.intro .intro_btn a {
  -webkit-display: flex;
  -moz-display: flex;
  -ms-display: flex;
  -o-display: flex;
  display: flex;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  -o-align-items: center;
  align-items: center;
  justify-content: center;
  width: 380px;
  height: 60px;
  background: url("../images/index/intro_btn_arrow.png") top 50% right 10px no-repeat, #eb6e9b;
  border-radius: 30px;
  color: #FFF;
  font-weight: 400;
  text-align: center;
}

@media screen and (max-width: 640px) {
  .intro .intro_btn a {
    width: calc((485/750)*100vw);
    height: calc((75/750)*100vw);
    margin: 0 auto;
    background: url("../images/index/intro_btn_arrow.png") top 50% right calc((30/750)*100vw) no-repeat, #eb6e9b;
    background-size: calc((33/750)*100vw);
    font-size: calc((30/750)*100vw);
  }
}

.recruit .index_content {
  padding: 0 0 50px;
}

@media screen and (max-width: 640px) {
  .recruit .index_content {
    padding-bottom: calc((50/750)*100vw);
  }
}

.recruit .inner {
  position: relative;
  -webkit-display: flex;
  -moz-display: flex;
  -ms-display: flex;
  -o-display: flex;
  display: flex;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  -o-align-items: center;
  align-items: center;
  justify-content: center;
  z-index: 22;
}

@media screen and (max-width: 640px) {
  .recruit .inner {
    display: block;
  }
}

.recruit .lttl_line {
  margin-bottom: 0;
  padding-bottom: 10px;
  color: #FFF;
  font-size: 4.5rem;
  text-align: left;
}

@media screen and (max-width: 640px) {
  .recruit .lttl_line {
    padding-bottom: calc((10/750)*100vw);
    font-size: calc((50/750)*100vw);
  }
}

.recruit .lttl_line span {
  padding-bottom: 10px;
}

@media screen and (max-width: 640px) {
  .recruit .lttl_line span {
    padding-bottom: calc((10/750)*100vw);
  }
}

.recruit .lttl_line span:after {
  background: url("../images/index/lttl_line_white.png") top center repeat-x;
  background-size: contain;
}

.recruit .recruit_textarea {
  width: 630px;
  color: #FFF;
  font-weight: 500;
  letter-spacing: .05em;
}

@media screen and (max-width: 640px) {
  .recruit .recruit_textarea {
    width: 100%;
    font-weight: 400;
  }
}

.recruit .recruit_category {
  display: inline-block;
  padding: 0 .5em;
  border-radius: 30px;
  background: #FFF;
  color: #eb6e9b;
  font-size: 2.4rem;
}

@media screen and (max-width: 640px) {
  .recruit .recruit_category {
    display: block;
    width: calc((380/750)*100vw);
    margin: 0 auto;
    font-size: calc((36/750)*100vw);
    text-align: center;
  }
}

.recruit .recruit_text {
  font-size: 2.6rem;
}

@media screen and (max-width: 640px) {
  .recruit .recruit_text {
    margin-bottom: calc((50/750)*100vw);
    font-size: calc((36/750)*100vw);
    text-align: center;
  }
}

.recruit .recruit_btn {
  position: relative;
  text-align: center;
}

.recruit .recruit_btn a {
  -webkit-display: flex;
  -moz-display: flex;
  -ms-display: flex;
  -o-display: flex;
  display: flex;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  -o-align-items: center;
  align-items: center;
  justify-content: center;
  width: 275px;
  height: 50px;
  margin: -20px auto 0;
  background: url("../images/index/recruit_btn_arrow.png") top 50% right 10px no-repeat, #FFF;
  border: #eb6e9b 1px solid;
  border-radius: 30px;
  color: #eb6e9b;
  font-size: 2.0rem;
  font-weight: 700;
  text-align: center;
}

@media screen and (max-width: 640px) {
  .recruit .recruit_btn a {
    width: calc((495/750)*100vw);
    height: calc((100/750)*100vw);
    margin-top: calc((-30/750)*100vw);
    font-size: calc((35/750)*100vw);
    background: url("../images/index/recruit_btn_arrow.png") top 50% right calc((30/750)*100vw) no-repeat, #FFF;
    background-size: calc((31/750)*100vw);
  }
}

.recruit .recruit_btn_area {
  width: 293px;
  margin-top: -60px;
}

@media screen and (max-width: 640px) {
  .recruit .recruit_btn_area {
    width: 100%;
    margin-top: 0;
  }
}

@media screen and (max-width: 640px) {
  .recruit .recruit_btn_area figure {
    width: calc((468/750)*100vw);
    margin: 0 auto;
  }
}

.guidance .guidance_list {
  -webkit-display: flex;
  -moz-display: flex;
  -ms-display: flex;
  -o-display: flex;
  display: flex;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  -o-flex-wrap: wrap;
  flex-wrap: wrap;
  justify-content: space-between;
}

@media screen and (max-width: 640px) {
  .guidance .guidance_list {
    display: block;
  }
}

.guidance .guidance_list_item {
  position: relative;
  width: 550px;
  padding: 15px 15px 30px;
  margin-top: 40px;
  background: #FFF;
  box-shadow: 0px 7px 14px 0px rgba(0, 0, 0, 0.1);
  border-radius: 12px;
}

@media screen and (max-width: 640px) {
  .guidance .guidance_list_item {
    width: 100%;
    padding: calc((15/750)*100vw) calc((15/750)*100vw) calc((30/750)*100vw);
    margin-top: calc((40/750)*100vw);
    border-radius: calc((12/750)*100vw);
  }
}

.guidance .guidance_list_item:nth-child(-n+2) {
  margin-top: 0;
}

@media screen and (max-width: 640px) {
  .guidance .guidance_list_item:nth-child(-n+2) {
    margin-top: calc((40/750)*100vw);
  }
}

@media screen and (max-width: 640px) {
  .guidance .guidance_list_item:first-child {
    margin-top: 0;
  }
}

.guidance .guidance_list_item .label {
  position: absolute;
  top: 30px;
  left: 30px;
  padding: .2em 1em;
  background: #eb6e9b;
  border: #FFF 2px solid;
  border-radius: 20px;
  color: #FFF;
  font-size: 1.6rem;
  letter-spacing: .05em;
}

@media screen and (max-width: 640px) {
  .guidance .guidance_list_item .label {
    top: calc((40/750)*100vw);
    left: calc((40/750)*100vw);
    font-size: calc((18/750)*100vw);
  }
}

.guidance .guidance_list_img {
  margin-bottom: 20px;
  border-radius: 12px;
}

@media screen and (max-width: 640px) {
  .guidance .guidance_list_img {
    margin-bottom: calc((30/750)*100vw);
    border-radius: calc((12/750)*100vw);
  }
}

.guidance .guidance_list_ttl {
  margin-bottom: 20px;
  padding: 0 20px;
  font-size: 3.0rem;
  font-weight: 300;
  line-height: 1.2;
  letter-spacing: .05em;
}

@media screen and (max-width: 640px) {
  .guidance .guidance_list_ttl {
    margin-bottom: calc((30/750)*100vw);
    padding: 0 calc((40/750)*100vw);
    font-size: calc((36/750)*100vw);
    letter-spacing: 0;
  }
}

.guidance .guidance_list_ttl .type {
  margin-bottom: 10px;
  color: #eb6e9b;
  font-size: 2.0rem;
  font-weight: 400;
  letter-spacing: .1em;
}

@media screen and (max-width: 640px) {
  .guidance .guidance_list_ttl .type {
    margin-bottom: calc((10/750)*100vw);
    font-size: calc((28/750)*100vw);
  }
}

.guidance .guidance_list_text {
  padding: 0 20px;
  font-size: 1.6rem;
  line-height: 1.5;
}

@media screen and (max-width: 640px) {
  .guidance .guidance_list_text {
    padding: 0 calc((40/750)*100vw);
    font-size: calc((24/750)*100vw);
  }
}

.support .support_catch {
  margin: 0 0 60px;
  font-size: 2.4rem;
  font-weight: 300;
  text-align: center;
}

@media screen and (max-width: 640px) {
  .support .support_catch {
    margin-bottom: calc((60/750)*100vw);
    font-size: calc((28/750)*100vw);
    line-height: 1.28;
  }
}

.support .support_list {
  -webkit-display: flex;
  -moz-display: flex;
  -ms-display: flex;
  -o-display: flex;
  display: flex;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  -o-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-align-items: flex-start;
  -moz-align-items: flex-start;
  -ms-align-items: flex-start;
  -o-align-items: flex-start;
  align-items: flex-start;
  justify-content: center;
}

@media screen and (max-width: 640px) {
  .support .support_list {
    display: block;
  }
}

.support .support_list_item {
  width: 286px;
  margin: 0 45px;
  text-align: center;
}

@media screen and (max-width: 640px) {
  .support .support_list_item {
    -webkit-display: flex;
    -moz-display: flex;
    -ms-display: flex;
    -o-display: flex;
    display: flex;
    -webkit-align-items: center;
    -moz-align-items: center;
    -ms-align-items: center;
    -o-align-items: center;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin: 0;
  }
}

.support .support_list_item:nth-child(1) .support_list_textarea {
  border: #eb6e9b 3px solid;
}

@media screen and (max-width: 640px) {
  .support .support_list_item:nth-child(1) .support_list_textarea {
    border: #eb6e9b calc((3/750)*100vw) solid;
  }
}

.support .support_list_item:nth-child(1) .support_list_ttl {
  color: #dd4e99;
}

.support .support_list_item:nth-child(2) {
  margin-top: 60px;
}

@media screen and (max-width: 640px) {
  .support .support_list_item:nth-child(2) {
    margin-top: 0;
  }

  .support .support_list_item:nth-child(2) .support_list_img {
    order: 2;
  }

  .support .support_list_item:nth-child(2) .support_list_textarea {
    order: 1;
    margin: 0 calc((-30/750)*100vw) 0 0;
  }
}

.support .support_list_item:nth-child(2) .support_list_textarea {
  border: #eaba6e 3px solid;
}

@media screen and (max-width: 640px) {
  .support .support_list_item:nth-child(2) .support_list_textarea {
    border: #eaba6e calc((3/750)*100vw) solid;
  }
}

.support .support_list_item:nth-child(2) .support_list_ttl {
  color: #e0922b;
}

.support .support_list_item:nth-child(3) .support_list_textarea {
  border: #bfd68c 3px solid;
}

@media screen and (max-width: 640px) {
  .support .support_list_item:nth-child(3) .support_list_textarea {
    border: #bfd68c calc((3/750)*100vw) solid;
  }
}

.support .support_list_item:nth-child(3) .support_list_ttl {
  color: #90b52a;
}

@media screen and (max-width: 640px) {
  .support .support_list_img {
    width: calc((332/750)*100vw);
  }
}

.support .support_list_textarea {
  position: relative;
  z-index: 11;
  width: 285px;
  margin: -30px 0 0;
  padding: 20px;
  background: #FFF;
  border-radius: 12px;
}

@media screen and (max-width: 640px) {
  .support .support_list_textarea {
    width: calc((357/750)*100vw);
    margin: 0 0 0 calc((-30/750)*100vw);
    padding: calc((30/750)*100vw);
    border-radius: calc((12/750)*100vw);
  }
}

.support .support_list_ttl {
  margin-bottom: 10px;
  font-size: 2.2rem;
  font-weight: 500;
}

@media screen and (max-width: 640px) {
  .support .support_list_ttl {
    margin-bottom: calc((5/750)*100vw);
    font-size: calc((28/750)*100vw);
  }
}

.support .support_list_text {
  font-size: 1.6rem;
  font-weight: 300;
}

@media screen and (max-width: 640px) {
  .support .support_list_text {
    font-size: calc((24/750)*100vw);
    line-height: 1.25;
  }
}

.blog {
  position: relative;
}

.blog:before {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, -50%);
  content: '';
  width: 1330px;
  height: 70px;
  background: url("../images/index/blog_weve_top.png") top center no-repeat;
}

@media screen and (max-width: 1300px) {
  .blog:before {
    width: 100%;
  }
}

@media screen and (max-width: 640px) {
  .blog:before {
    width: 100%;
    height: calc((45/750)*100vw);
    background: url("../images/index/blog_weve_top_sp.png") top center no-repeat;
    background-size: contain;
  }
}

.blog .blog_mttl {
  margin-bottom: 1.5em;
  color: #545454;
  font-size: 2.4rem;
  font-weight: bold;
  line-height: 1.2;
  text-align: center;
}

@media screen and (max-width: 640px) {
  .blog .blog_mttl {
    font-size: calc((36/750)*100vw);
  }
}

.blog .blog_category {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  -ms-align-items: flex-start;
  align-items: flex-start;
  justify-content: flex-start;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  -o-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-bottom: 60px;
  margin-right: -3.5rem;
}

@media screen and (max-width: 640px) {
  .blog .blog_category {
    margin-right: -2%;
    margin-bottom: calc((60/750)*100vw);
  }
}

.blog .blog_category li {
  margin-right: 3.5rem;
  width: 20.0rem;
}

@media screen and (max-width: 640px) {
  .blog .blog_category li {
    margin-right: 2%;
    width: 48%;
  }
}

.blog .blog_category li a {
  margin-top: 2rem;
  display: block;
  background: #FFF;
  border: #EB6E9B 1px solid;
  border-radius: 2.0rem;
  color: #EB6E9B;
  font-size: 1.8rem;
  font-weight: bold;
  text-align: center;
  line-height: 2.0;
}

@media screen and (max-width: 640px) {
  .blog .blog_category li a {
    margin-top: calc((20/750)*100vw);
    font-size: calc((24/750)*100vw);
  }
}

.blog .blog_category .current-cat a,
.blog .blog_category a.active {
  background: #EB6E9B;
  border: #EB6E9B 1px solid;
  color: #FFF;

}

.blog .blog_list {
  -webkit-display: flex;
  -moz-display: flex;
  -ms-display: flex;
  -o-display: flex;
  display: flex;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  -o-flex-wrap: wrap;
  flex-wrap: wrap;
  justify-content: flex-start;
}

@media screen and (max-width: 640px) {
  .blog .blog_list {
    display: block;
  }
}

.blog .blog_list_item {
  position: relative;
  width: 255px;
  margin: 60px 0 0 40px;
  padding-bottom: 40px;
}

@media screen and (max-width: 640px) {
  .blog .blog_list_item {
    width: 100%;
    margin: calc((40/750)*100vw) 0 0;
    padding-bottom: 0;
  }
}

.blog .blog_list_item:nth-child(-n+4) {
  margin-top: 0;
}

@media screen and (max-width: 640px) {
  .blog .blog_list_item:nth-child(-n+4) {
    margin-top: calc((40/750)*100vw);
  }
}

.blog .blog_list_item:nth-child(4n+1) {
  margin-left: 0;
}

@media screen and (max-width: 640px) {
  .blog .blog_list_item:nth-child(4n+1) {
    margin-left: 0;
  }
}

@media screen and (max-width: 640px) {
  .blog .blog_list_item a {
    -webkit-display: flex;
    -moz-display: flex;
    -ms-display: flex;
    -o-display: flex;
    display: flex;
    -webkit-align-items: flex-start;
    -moz-align-items: flex-start;
    -ms-align-items: flex-start;
    -o-align-items: flex-start;
    align-items: flex-start;
    justify-content: space-between;
    width: 100%;
  }
}

.blog .blog_list_img,
.blog .blog_list figure {
  width: 100%;
  height: 220px;
  margin-bottom: 10px;
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.1);
}

@media screen and (max-width: 1300px) {

  .blog .blog_list_img,
  .blog .blog_list figure {
    height: calc((280/1300)*100vw);
  }
}

@media screen and (max-width: 640px) {

  .blog .blog_list_img,
  .blog .blog_list figure {
    width: calc((250/750)*100vw);
    height: calc((170/750)*100vw);
    margin: 0;
  }
}

.blog .blog_list_img img,
.blog .blog_list figure img {
  width: 100%;
  height: 220px;
  object-fit: cover;
}

@media screen and (max-width: 1300px) {

  .blog .blog_list_img img,
  .blog .blog_list figure img {
    height: calc((280/1300)*100vw);
  }
}

@media screen and (max-width: 640px) {

  .blog .blog_list_img img,
  .blog .blog_list figure img {
    height: calc((170/750)*100vw);
  }
}

@media screen and (max-width: 640px) {
  .blog .blog_list_textarea {
    width: calc((370/750)*100vw);
  }
}

.blog .blog_list_date {
  display: inline-block;
  margin-bottom: 10px;
  color: rgba(0, 0, 0, 0.4);
  font-size: 1.6rem;
}

@media screen and (max-width: 640px) {
  .blog .blog_list_date {
    margin-bottom: calc((10/750)*100vw);
    font-size: calc((20/750)*100vw);
    line-height: 1.2;
  }
}

.blog .blog_list_ttl {
  margin-bottom: 10px;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.3;
}

@media screen and (max-width: 640px) {
  .blog .blog_list_ttl {
    margin-bottom: calc((10/750)*100vw);
    font-size: calc((24/750)*100vw);
  }
}

.blog .blog_list_category {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 160px;
  padding: .2em .5em;
  color: #ed709c;
  border: #ed709c 1px solid;
  border-radius: 20px;
  text-align: center;
}

@media screen and (max-width: 640px) {
  .blog .blog_list_category {
    position: static;
    display: inline-block;
    width: calc((200/750)*100vw);
    font-size: calc((21/750)*100vw);
  }
}