@charset "UTF-8";
/* Scss Document */
/* Scss Document */
.mv {
  background: url("../images/info/mv.png") top center no-repeat;
}
@media screen and (max-width: 640px) {
  .mv {
    background: url("../images/info/mv_sp.png") top center no-repeat;
    background-size: 100% auto;
  }
}
@media screen and (max-width: 640px) {
  .mv .mv_ttl {
    bottom: calc((-20/750)*100vw);
    font-size: calc((40/750)*100vw);
  }
}

.contact_tel .table_basic th, .contact_tel .table_basic td {
  padding: 20px 0;
}
@media screen and (max-width: 640px) {
  .contact_tel .table_basic th, .contact_tel .table_basic td {
    padding: calc((20/750)*100vw) 0;
  }
}
.contact_tel .table_basic th {
  width: 350px;
}
@media screen and (max-width: 640px) {
  .contact_tel .table_basic th {
    width: calc((250/750)*100vw);
  }
}
.contact_tel .strong {
  color: #D80000;
  font-weight: 700;
}
.contact_tel .free {
  font-size: 2.4rem;
}
@media screen and (max-width: 640px) {
  .contact_tel .free {
    font-size: calc((30/750)*100vw);
  }
}
.contact_mail {
  /* iOSでのデフォルトスタイルをリセット */
}
.contact_mail .table_basic {
  margin-bottom: 20px;
}
@media screen and (max-width: 640px) {
  .contact_mail .table_basic {
    margin-bottom: calc((30/750)*100vw);
  }
}
.contact_mail .table_basic th, .contact_mail .table_basic td {
  padding: 20px 0;
}
@media screen and (max-width: 640px) {
  .contact_mail .table_basic th, .contact_mail .table_basic td {
    padding: calc((20/750)*100vw) 0;
  }
}
.contact_mail .table_basic th {
  width: 285px;
}
@media screen and (max-width: 640px) {
  .contact_mail .table_basic th {
    width: calc((250/750)*100vw);
  }
}
.contact_mail .table_basic th .required {
  margin-left: 1em;
  color: #D80000;
}
.contact_mail input[type="submit"],
.contact_mail input[type="button"] {
  border-radius: 0;
  -webkit-box-sizing: content-box;
  -webkit-appearance: button;
  appearance: button;
  border: none;
  box-sizing: border-box;
}
.contact_mail input[type="submit"]::-webkit-search-decoration,
.contact_mail input[type="button"]::-webkit-search-decoration {
  display: none;
}
.contact_mail input[type="submit"]::focus,
.contact_mail input[type="button"]::focus {
  outline-offset: -2px;
}
.contact_mail input, .contact_mail select, .contact_mail textarea {
  padding: .5em;
  border: #CCC 1px solid;
  font-family: 'Noto Sans JP', sans-serif;
}
.contact_mail input[type="text"], .contact_mail input[type="tel"], .contact_mail input[type="email"] {
  width: 380px;
}
@media screen and (max-width: 640px) {
  .contact_mail input[type="text"], .contact_mail input[type="tel"], .contact_mail input[type="email"] {
    width: 100%;
  }
}
.contact_mail input.zip {
  width: 120px;
}
@media screen and (max-width: 640px) {
  .contact_mail input.zip {
    width: calc((200/750)*100vw);
    margin-bottom: calc((10/750)*100vw);
  }
}
.contact_mail input.address {
  width: 500px;
}
@media screen and (max-width: 640px) {
  .contact_mail input.address {
    width: 100%;
    margin-top: calc((10/750)*100vw);
  }
}
.contact_mail textarea {
  width: 700px;
}
@media screen and (max-width: 640px) {
  .contact_mail textarea {
    width: 100%;
  }
}
.contact_mail label {
  display: inline-block;
  margin-right: 1.5em;
}
.contact_mail_text {
  font-size: 1.5rem;
  line-height: 1.6;
  letter-spacing: 0;
}
@media screen and (max-width: 640px) {
  .contact_mail_text {
    font-size: calc((24/750)*100vw);
  }
}
.contact_mail_text a {
  color: #00678C;
  text-decoration: underline;
}
.contact_mail_text a:hover {
  text-decoration: none;
}
.contact_mail_btn {
  margin-top: 40px;
  text-align: center;
}
@media screen and (max-width: 640px) {
  .contact_mail_btn {
    margin-top: calc((50/750)*100vw);
  }
}
.contact_mail_btn input, .contact_mail_btn a {
  display: inline-block;
  width: 380px;
  padding: .9em;
  background: url("../images/common/arrow_small_right.png") top 50% right 50px no-repeat, #D24A98;
  border-radius: 50px !important;
  color: #FFF;
  font-size: 2.0rem;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: .1em;
  text-align: center;
}
@media screen and (max-width: 640px) {
  .contact_mail_btn input, .contact_mail_btn a {
    width: calc((500/750)*100vw);
    background: url("../images/common/arrow_small_right.png") top 50% right calc((30/750)*100vw) no-repeat, #D24A98;
    background-size: calc((10/750)*100vw);
    border-radius: calc((50/750)*100vw) !important;
    font-size: calc((30/750)*100vw);
  }
}
.contact_mail_btn input:hover, .contact_mail_btn a:hover {
  cursor: pointer;
  opacity: .6;
  transition: .5s;
}

@media screen and (max-width: 640px) {
  .privacy.mv .mv_ttl {
    bottom: 0;
  }
}
.privacy p {
  font-size: 2.0rem;
  font-weight: 400;
  letter-spacing: .1em;
  line-height: 2.0;
}
@media screen and (max-width: 640px) {
  .privacy p {
    font-size: calc((24/750)*100vw);
  }
}
.privacy ul {
  margin: 30px 20px 0 40px;
  font-size: 1.6rem;
  letter-spacing: .1em;
  line-height: 1.8;
}
@media screen and (max-width: 640px) {
  .privacy ul {
    margin: calc((30/750)*100vw) calc((30/750)*100vw) 0 calc((30/750)*100vw);
    font-size: calc((24/750)*100vw);
  }
}
.privacy ul li {
  position: relative;
  margin-top: .7em;
  padding-left: 1em;
}
.privacy ul li:before {
  position: absolute;
  top: 9px;
  left: 0;
  content: '';
  width: 9px;
  height: 9px;
  border-radius: 5px;
  background: #000;
}
@media screen and (max-width: 640px) {
  .privacy ul li:before {
    top: calc((16/750)*100vw);
    width: calc((10/750)*100vw);
    height: calc((10/750)*100vw);
  }
}
