/* Scss Document */
/* Scss Document */
.mv {
  background: url("../images/medical/mv.png") top center no-repeat;
}
@media screen and (max-width: 640px) {
  .mv {
    background: url("../images/medical/mv_sp.png") top center no-repeat;
    background-size: 100% auto;
  }
}

.intro .intro_wrap {
  -webkit-display: flex;
  -moz-display: flex;
  -ms-display: flex;
  -o-display: flex;
  display: flex;
  -webkit-align-items: flex-start;
  -moz-align-items: flex-start;
  -ms-align-items: flex-start;
  -o-align-items: flex-start;
  align-items: flex-start;
  justify-content: space-between;
  margin-bottom: 80px;
}
@media screen and (max-width: 640px) {
  .intro .intro_wrap {
    display: block;
    margin-bottom: calc((100/750)*100vw);
  }
}
.intro .intro_wrap ul {
  -webkit-display: flex;
  -moz-display: flex;
  -ms-display: flex;
  -o-display: flex;
  display: flex;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  -o-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-align-items: flex-start;
  -moz-align-items: flex-start;
  -ms-align-items: flex-start;
  -o-align-items: flex-start;
  align-items: flex-start;
  justify-content: space-between;
  width: 370px;
}
@media screen and (max-width: 640px) {
  .intro .intro_wrap ul {
    width: 100%;
  }
}
.intro .intro_wrap li {
  -webkit-display: flex;
  -moz-display: flex;
  -ms-display: flex;
  -o-display: flex;
  display: flex;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  -o-align-items: center;
  align-items: center;
  justify-content: center;
  width: 173px;
  height: 173px;
  margin-bottom: 30px;
  border-radius: 100px;
  background: #99CC00;
  color: #FFF;
  font-size: 3.0rem;
  font-weight: 700;
  text-align: center;
}
@media screen and (max-width: 640px) {
  .intro .intro_wrap li {
    width: calc((150/750)*100vw);
    height: calc((150/750)*100vw);
    margin-bottom: calc((30/750)*100vw);
    font-size: calc((30/750)*100vw);
  }
}
.intro .intro_wrap figure {
  width: 700px;
}
@media screen and (max-width: 640px) {
  .intro .intro_wrap figure {
    width: 100%;
  }
}
.intro .intro_text {
  font-size: 2.0rem;
  line-height: 2.0;
}
@media screen and (max-width: 640px) {
  .intro .intro_text {
    font-size: calc((30/750)*100vw);
  }
}

.medical .medical_sttl {
  width: 500px;
  margin: 70px auto 60px;
  padding: .2em;
  background: #FCF2E4;
  border-radius: 15px;
  font-size: 2.0rem;
  font-weight: 500;
  line-height: 1.2;
  text-align: center;
}
@media screen and (max-width: 640px) {
  .medical .medical_sttl {
    width: calc((500/750)*100vw);
    margin: calc((70/750)*100vw) auto calc((60/750)*100vw);
    font-size: calc((30/750)*100vw);
  }
}
.medical .medical_table_wrap {
  -webkit-display: flex;
  -moz-display: flex;
  -ms-display: flex;
  -o-display: flex;
  display: flex;
  -webkit-align-items: flex-start;
  -moz-align-items: flex-start;
  -ms-align-items: flex-start;
  -o-align-items: flex-start;
  align-items: flex-start;
  justify-content: space-between;
}
@media screen and (max-width: 640px) {
  .medical .medical_table_wrap {
    display: block;
  }
}
.medical .medical_table_left, .medical .medical_table_right {
  width: 550px;
}
@media screen and (max-width: 640px) {
  .medical .medical_table_left, .medical .medical_table_right {
    width: 100%;
  }
}
@media screen and (max-width: 640px) {
  .medical .medical_table_left {
    margin-bottom: calc((50/750)*100vw);
  }
}
.medical .medical_table01 {
  width: 100%;
  margin-top: 40px;
}
@media screen and (max-width: 640px) {
  .medical .medical_table01 {
    margin-top: calc((50/750)*100vw);
  }
}
.medical .medical_table01:first-of-type {
  margin-top: 0;
}
.medical .medical_table01 th, .medical .medical_table01 td {
  padding: .3em 1em;
  border: #CCC 1px solid;
  vertical-align: middle;
  font-size: 1.6rem;
  font-weight: 400;
}
@media screen and (max-width: 640px) {
  .medical .medical_table01 th, .medical .medical_table01 td {
    font-size: calc((24/750)*100vw);
  }
}
.medical .medical_table01 th {
  background: #EEE;
  text-align: center;
}
@media screen and (max-width: 640px) {
  .medical .medical_table01 th {
    width: 25%;
  }
}
.medical .medical_table01 td {
  background: #FFF;
}
.medical .medical_table01 .td02 {
  width: 270px;
}
@media screen and (max-width: 640px) {
  .medical .medical_table01 .td02 {
    width: 40%;
  }
}
.medical .medical_table02 {
  width: 100%;
}
.medical .medical_table02 th, .medical .medical_table02 td {
  padding: .7em 1em;
  border: #CCC 1px solid;
  vertical-align: middle;
  font-size: 1.6rem;
  font-weight: 400;
}
@media screen and (max-width: 640px) {
  .medical .medical_table02 th, .medical .medical_table02 td {
    font-size: calc((24/750)*100vw);
  }
}
.medical .medical_table02 th {
  width: 300px;
  background: #EEE;
  text-align: center;
}
@media screen and (max-width: 640px) {
  .medical .medical_table02 th {
    width: 35%;
  }
}
.medical .medical_table02 td {
  background: #FFF;
  line-height: 1.6;
}
.medical #home_neyagawa_park .medical_table_wrap {
  opacity: .3;
}
