/* Scss Document */
/* Scss Document */
.mv {
  background: url("../images/real/mv.png") top center no-repeat;
}
@media screen and (max-width: 640px) {
  .mv {
    background: url("../images/real/mv_sp.png") top center no-repeat;
    background-size: 100% auto;
  }
}

.real_content {
  height: 500px;
  padding: 50px 595px 50px 50px;
  border-radius: 20px;
}
@media screen and (max-width: 640px) {
  .real_content {
    height: auto;
    padding: calc((30/750)*100vw) calc((30/750)*100vw) calc((400/750)*100vw);
    border-radius: calc((20/750)*100vw);
  }
}
.real_text {
  font-size: 2.0rem;
  line-height: 2.0;
}
@media screen and (max-width: 640px) {
  .real_text {
    font-size: calc((24/750)*100vw);
  }
}

.intro .content {
  padding: 0;
  background: url("../images/real/intro_bg.png") top center no-repeat;
}
@media screen and (max-width: 640px) {
  .intro .content {
    background-size: calc((1500/750)*100vw);
  }
}
.intro .inner {
  position: relative;
  height: 844px;
}
@media screen and (max-width: 640px) {
  .intro .inner {
    height: calc((630/750)*100vw);
  }
}
.intro .p_catch {
  position: absolute;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  color: #FFF;
  font-size: 3.7rem;
}
@media screen and (max-width: 640px) {
  .intro .p_catch {
    font-size: calc((40/750)*100vw);
    line-height: 1.4;
  }
}

.baikyaku .content {
  padding-bottom: 0;
}
.baikyaku .real_content {
  background: url("../images/real/baikyaku_img.png") top right no-repeat, #EFF0E8;
}
@media screen and (max-width: 640px) {
  .baikyaku .real_content {
    background: url("../images/real/baikyaku_img_sp.png") bottom right no-repeat, #EFF0E8;
    background-size: contain;
  }
}

.kaitori .real_content {
  background: url("../images/real/kaitori_img.png") top right no-repeat, #EFF0E8;
}
@media screen and (max-width: 640px) {
  .kaitori .real_content {
    background: url("../images/real/kaitori_img_sp.png") bottom right no-repeat, #EFF0E8;
    background-size: contain;
  }
}

.land .inner {
  position: relative;
  padding-left: 640px;
}
@media screen and (max-width: 640px) {
  .land .inner {
    padding: 0 calc((50/750)*100vw);
  }
}
.land .inner:before {
  position: absolute;
  top: 50%;
  left: 40px;
  transform: translateY(-50%);
  content: '';
  width: 516px;
  height: 507px;
  background: url("../images/real/land_bg.png") bottom left no-repeat;
  background-size: contain;
}
@media screen and (max-width: 640px) {
  .land .inner:before {
    content: none;
  }
}
.land .real_text {
  padding-top: 110px;
  background: url("../images/real/ico_land.png") top center no-repeat;
}
@media screen and (max-width: 640px) {
  .land .real_text {
    padding-top: calc((110/750)*100vw);
    background-size: calc((204/750)*100vw);
  }
}

.sale .content {
  padding-bottom: 0;
}
.sale .inner {
  padding-right: 640px;
  background: url("../images/real/sale_bg.png") bottom right no-repeat;
}
@media screen and (max-width: 640px) {
  .sale .inner {
    padding: calc((50/750)*100vw);
    background: none;
  }
}
.sale .p_catch {
  padding-top: 80px;
  background: url("../images/real/ico_sale.png") top center no-repeat;
}
@media screen and (max-width: 640px) {
  .sale .p_catch {
    padding-top: calc((80/750)*100vw);
    background-size: calc((60/750)*100vw);
  }
}

.info .info_text {
  margin-bottom: 10px;
  font-size: 2.0rem;
  line-height: 1.2;
  text-align: center;
}
@media screen and (max-width: 640px) {
  .info .info_text {
    margin-bottom: calc((10/750)*100vw);
    font-size: calc((30/750)*100vw);
  }
}
.info .info_tel {
  color: #eb6c99;
  font-size: 5.0rem;
  line-height: 1.2;
  text-align: center;
}
@media screen and (max-width: 640px) {
  .info .info_tel {
    font-size: calc((50/750)*100vw);
  }
}
