@charset "UTF-8";
/* Scss Document */
/* Scss Document */
.mv {
  background: url("../images/recruit/mv.png") top center no-repeat;
}
@media screen and (max-width: 640px) {
  .mv {
    background: url("../images/recruit/mv_sp.png") top center no-repeat;
    background-size: 100% auto;
  }
}

.intro .content {
  background: url("../images/recruit/intro_bg.png") bottom -10px right 10px no-repeat;
}
@media screen and (max-width: 640px) {
  .intro .content {
    padding-bottom: calc((530/750)*100vw);
    background: url("../images/recruit/intro_bg.png") bottom calc((-20/750)*100vw) center no-repeat;
    background-size: calc((1000/750)*100vw);
  }
}
.intro .inner {
  padding-right: 650px;
}
@media screen and (max-width: 640px) {
  .intro .inner {
    padding: 0;
  }
}
.intro .intro_ttl {
  color: #D24A98;
  font-size: 6.0rem;
  font-weight: 400;
  letter-spacing: .05em;
  line-height: 1.6;
  text-align: center;
}
@media screen and (max-width: 640px) {
  .intro .intro_ttl {
    font-size: calc((50/750)*100vw);
  }
}

@media screen and (max-width: 640px) {
  .greeting .p_catch {
    letter-spacing: .1em;
  }
}
.greeting .greeting_img {
  float: right;
  margin: 0 0 40px 40px;
}
@media screen and (max-width: 640px) {
  .greeting .greeting_img {
    float: none;
    width: calc((600/750)*100vw);
    margin: 0 auto calc((50/750)*100vw);
  }
}
.greeting .greeting_text {
  margin-bottom: 1.5em;
  font-size: 2.0rem;
  line-height: 2.0;
}
@media screen and (max-width: 640px) {
  .greeting .greeting_text {
    font-size: calc((30/750)*100vw);
  }
}
.greeting .greeting_sign {
  font-family: 'Noto Serif JP', serif;
  font-size: 2.0rem;
  text-align: right;
}
@media screen and (max-width: 640px) {
  .greeting .greeting_sign {
    font-size: calc((30/750)*100vw);
  }
}
.greeting .greeting_sign span {
  display: inline-block;
  margin-left: 1em;
  font-size: 3.0rem;
}
@media screen and (max-width: 640px) {
  .greeting .greeting_sign span {
    font-size: calc((40/750)*100vw);
  }
}

.flow .flow_list {
  position: relative;
  background: url("../images/recruit/flow_img.png") top right no-repeat;
}
@media screen and (max-width: 640px) {
  .flow .flow_list {
    background: none;
  }
}
.flow .flow_list:before {
  position: absolute;
  top: 23px;
  left: 11px;
  content: '';
  width: 2px;
  height: 1220px;
  background: #A3D800;
}
@media screen and (max-width: 640px) {
  .flow .flow_list:before {
    top: calc((30/750)*100vw);
    left: calc((13/750)*100vw);
    height: calc((1720/750)*100vw);
  }
}
.flow .flow_list li {
  position: relative;
  margin-top: 50px;
  padding: 0 500px 0 200px;
}
@media screen and (max-width: 640px) {
  .flow .flow_list li {
    margin-top: calc((50/750)*100vw);
    padding: 0 0 0 calc((50/750)*100vw);
  }
}
.flow .flow_list li:first-child {
  margin-top: 0;
}
.flow .flow_list li:before {
  position: absolute;
  top: 13px;
  left: 0;
  content: '';
  width: 25px;
  height: 25px;
  border-radius: 13px;
  background: #A3D800;
}
@media screen and (max-width: 640px) {
  .flow .flow_list li:before {
    top: calc((11/750)*100vw);
    width: calc((30/750)*100vw);
    height: calc((30/750)*100vw);
  }
}
.flow .flow_list .time {
  position: absolute;
  top: 0;
  left: 50px;
  color: #A3D800;
  font-size: 4.0rem;
  font-weight: 700;
  letter-spacing: 0;
  line-height: 1.2;
}
@media screen and (max-width: 640px) {
  .flow .flow_list .time {
    position: static;
    font-size: calc((40/750)*100vw);
  }
}
.flow .flow_list .task {
  margin-bottom: 15px;
  font-size: 2.8rem;
  font-weight: bold;
  letter-spacing: .15em;
  line-height: 1.7;
}
@media screen and (max-width: 640px) {
  .flow .flow_list .task {
    margin-bottom: calc((20/750)*100vw);
    font-size: calc((30/750)*100vw);
  }
}
.flow .flow_list .detail {
  font-size: 2.0rem;
  line-height: 1.8;
}
@media screen and (max-width: 640px) {
  .flow .flow_list .detail {
    font-size: calc((24/750)*100vw);
  }
}

@media screen and (max-width: 640px) {
  .facility .mttl {
    display: block;
  }
}
.facility .mttl span {
  display: inline-block;
  width: 120px;
  margin-right: 1em;
  padding: .5em;
  background: #D24A98;
  border-radius: 20px;
  color: #FFF;
  font-size: 1.8rem;
  font-weight: 700;
  text-align: center;
}
@media screen and (max-width: 640px) {
  .facility .mttl span {
    display: block;
    margin: 0 auto calc((20/750)*100vw);
    width: calc((300/750)*100vw);
    font-size: calc((30/750)*100vw);
  }
}
.facility .facility_wrap {
  -webkit-display: flex;
  -moz-display: flex;
  -ms-display: flex;
  -o-display: flex;
  display: flex;
  -webkit-align-items: flex-start;
  -moz-align-items: flex-start;
  -ms-align-items: flex-start;
  -o-align-items: flex-start;
  align-items: flex-start;
  justify-content: space-between;
}
@media screen and (max-width: 640px) {
  .facility .facility_wrap {
    display: block;
  }
}
.facility .facility_img {
  width: 400px;
}
@media screen and (max-width: 640px) {
  .facility .facility_img {
    width: 100%;
    margin-bottom: calc((30/750)*100vw);
  }
}
.facility .facility_textarea {
  width: 675px;
}
@media screen and (max-width: 640px) {
  .facility .facility_textarea {
    width: 100%;
  }
}
.facility .facility_btn {
  -webkit-display: flex;
  -moz-display: flex;
  -ms-display: flex;
  -o-display: flex;
  display: flex;
  -webkit-align-items: flex-start;
  -moz-align-items: flex-start;
  -ms-align-items: flex-start;
  -o-align-items: flex-start;
  align-items: flex-start;
  justify-content: space-between;
  margin-bottom: 40px;
}
@media screen and (max-width: 640px) {
  .facility .facility_btn {
    margin-bottom: calc((50/750)*100vw);
  }
}
.facility .facility_btn li {
  width: 320px;
}
@media screen and (max-width: 640px) {
  .facility .facility_btn li {
    width: 48%;
  }
}
.facility .facility_btn li a {
  display: block;
  padding: .5em;
  border-radius: 20px;
  color: #FFF;
  font-size: 1.8rem;
  text-align: center;
  line-height: 1.2;
}
@media screen and (max-width: 640px) {
  .facility .facility_btn li a {
    padding: .8em .5em;
    font-size: calc((24/750)*100vw);
  }
}
.facility .facility_btn li.sei a {
  background: url("../images/common/arrow_small_right.png") top 50% right 40px no-repeat, #EC9B75;
}
@media screen and (max-width: 640px) {
  .facility .facility_btn li.sei a {
    background: url("../images/common/arrow_small_right.png") top 50% right calc((15/750)*100vw) no-repeat, #EC9B75;
    background-size: calc((10/750)*100vw);
  }
}
.facility .facility_btn li.pa a {
  background: url("../images/common/arrow_small_right.png") top 50% right 40px no-repeat, #96C800;
}
@media screen and (max-width: 640px) {
  .facility .facility_btn li.pa a {
    background: url("../images/common/arrow_small_right.png") top 50% right calc((15/750)*100vw) no-repeat, #96C800;
    background-size: calc((10/750)*100vw);
  }
}
.facility .facility_text {
  margin-bottom: 20px;
}
@media screen and (max-width: 640px) {
  .facility .facility_text {
    margin-bottom: calc((30/750)*100vw);
  }
}
.facility .facility_shokushu li {
  display: inline-block;
  color: #D24A98;
}
.facility .facility_shokushu li:after {
  content: '／';
}
.facility .facility_shokushu li:last-child:after {
  content: none;
}
.facility .facility_sttl {
  width: 350px;
  margin: 50px auto 60px;
  padding: .2em;
  background: #FFF;
  border-radius: 15px;
  font-size: 2.0rem;
  letter-spacing: .15em;
  text-align: center;
  line-height: 1.2;
}
@media screen and (max-width: 640px) {
  .facility .facility_sttl {
    width: calc((500/750)*100vw);
    margin: calc((50/750)*100vw) auto calc((60/750)*100vw);
    font-size: calc((30/750)*100vw);
  }
}

.entry .entry {
  /*&_btn {
  	width: 380px;
  	margin: 50px auto 0;
  	@media screen and (max-width: 640px) {
  		width: calc((500/750)*100vw);
  		margin-top: calc((50/750)*100vw);
  	}
  	a {
  		display: block;
  		padding: 13px;
  		background: url("../images/common/arrow_small_right.png") top 50% right 30px no-repeat, $c_green04;
  		border-radius: 30px;
  		color: $c_white;
  		font-size: 2.0rem;
  		font-weight: 700;
  		text-align: center;
  		@media screen and (max-width: 640px) {
  			padding: calc((15/750)*100vw);
  			background: url("../images/common/arrow_small_right.png") top 50% right calc((20/750)*100vw) no-repeat, $c_green04;
  			background-size: calc((10/750)*100vw);
  			font-size: calc((30/750)*100vw);
  		}
  	}
  }*/
}

@keyframes displayAnime {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.message .message_list li {
  position: relative;
  min-height: 400px;
  padding-top: 40px;
}
@media screen and (max-width: 640px) {
  .message .message_list li {
    height: auto;
    margin-top: calc((80/750)*100vw);
    padding: 0;
  }
}
@media screen and (max-width: 640px) {
  .message .message_list li:first-child {
    margin-top: 0;
  }
}
.message .message_list li:nth-child(even) .message_img {
  right: 0;
  left: auto;
}
.message .message_list li:nth-child(even) .message_text {
  margin-right: auto;
  margin-left: 0;
}
.message .message_img {
  position: absolute;
  top: 0;
  left: 0;
  width: 400px;
}
@media screen and (max-width: 640px) {
  .message .message_img {
    position: static;
    width: calc((500/750)*100vw);
    margin: 0 auto;
  }
}
.message .message_name {
  position: relative;
  z-index: 88;
  -webkit-display: flex;
  -moz-display: flex;
  -ms-display: flex;
  -o-display: flex;
  display: flex;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  -o-align-items: center;
  align-items: center;
  justify-content: space-between;
  width: 500px;
  height: 60px;
  margin: 0 auto 40px;
  padding: 0 30px;
  background: #D24A98;
  border-radius: 30px;
  color: #FFF;
  line-height: 1.1;
  letter-spacing: .15em;
}
@media screen and (max-width: 640px) {
  .message .message_name {
    width: 100%;
    height: calc((80/750)*100vw);
    margin: calc((-100/750)*100vw) 0 calc((40/750)*100vw);
    padding: 0 calc((30/750)*100vw);
  }
}
.message .message_name .name {
  font-size: 3.7rem;
  font-weight: 700;
}
@media screen and (max-width: 640px) {
  .message .message_name .name {
    font-size: calc((30/750)*100vw);
  }
}
.message .message_name .position {
  font-size: 1.8rem;
}
@media screen and (max-width: 640px) {
  .message .message_name .position {
    font-size: calc((24/750)*100vw);
  }
}
.message .message_text {
  width: 685px;
  margin-left: auto;
  font-size: 2.0rem;
  line-height: 2.0;
}
@media screen and (max-width: 640px) {
  .message .message_text {
    width: 100%;
    margin: 0;
    font-size: calc((24/750)*100vw);
  }
}

.entry.entry_full .entry_lttl {
  color: #EB9973;
}
.entry.entry_full .entry_lttl span:after {
  background: url("../images/recruit/entry_lttl_full_bg.png") top center repeat-x;
  background-size: contain;
}
.entry.entry_full .entry_mttl {
  color: #EB9973;
}
.entry.entry_full .entry_tab li a {
  background: url("../images/recruit/entry_tab_arrow.png") top 50% right 20px no-repeat, #EB9973;
}
@media screen and (max-width: 640px) {
  .entry.entry_full .entry_tab li a {
    background: url("../images/recruit/entry_tab_arrow.png") top 50% right calc((10/750)*100vw) no-repeat, #EB9973;
    background-size: calc((10/750)*100vw);
  }
}
.entry.entry_full .entry_tab li.active a {
  background: url("../images/recruit/entry_tab_arrow_active.png") top 50% right 20px no-repeat, #EB9973;
}
@media screen and (max-width: 640px) {
  .entry.entry_full .entry_tab li.active a {
    background: url("../images/recruit/entry_tab_arrow_active.png") top 50% right calc((10/750)*100vw) no-repeat, #EB9973;
    background-size: calc((10/750)*100vw);
  }
}
.entry.entry_part .entry_lttl {
  color: #A3D900;
}
.entry.entry_part .entry_lttl span:after {
  background: url("../images/recruit/entry_lttl_part_bg.png") top center repeat-x;
  background-size: contain;
}
.entry.entry_part .entry_mttl {
  color: #A3D900;
}
.entry.entry_part .entry_tab li a {
  background: url("../images/recruit/entry_tab_arrow.png") top 50% right 20px no-repeat, #A3D900;
}
@media screen and (max-width: 640px) {
  .entry.entry_part .entry_tab li a {
    background: url("../images/recruit/entry_tab_arrow.png") top 50% right calc((10/750)*100vw) no-repeat, #A3D900;
    background-size: calc((10/750)*100vw);
  }
}
.entry.entry_part .entry_tab li.active a {
  background: url("../images/recruit/entry_tab_arrow_active.png") top 50% right 20px no-repeat, #A3D900;
}
@media screen and (max-width: 640px) {
  .entry.entry_part .entry_tab li.active a {
    background: url("../images/recruit/entry_tab_arrow_active.png") top 50% right calc((10/750)*100vw) no-repeat, #A3D900;
    background-size: calc((10/750)*100vw);
  }
}
.entry .table_basic th {
  width: 370px;
}
@media screen and (max-width: 640px) {
  .entry .table_basic th {
    width: calc((200/750)*100vw);
  }
}
.entry .entry_tab {
  position: relative;
  z-index: 22;
  -webkit-display: flex;
  -moz-display: flex;
  -ms-display: flex;
  -o-display: flex;
  display: flex;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  -o-flex-wrap: wrap;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 20px;
}
@media screen and (max-width: 640px) {
  .entry .entry_tab {
    margin-top: calc((20/750)*100vw);
  }
}
.entry .entry_tab li {
  width: 360px;
  margin: 25px 0 0 30px;
  text-align: center;
}
@media screen and (max-width: 640px) {
  .entry .entry_tab li {
    width: calc((203/750)*100vw);
    margin: calc((20/750)*100vw) 0 0 calc((20/750)*100vw);
  }
}
.entry .entry_tab li:nth-child(3n+1) {
  margin-left: 0;
}
.entry .entry_tab li:nth-child(-n+3) {
  margin-top: 0;
}
.entry .entry_tab li a {
  display: block;
  padding: 13px;
  border-radius: 30px;
  color: #FFF;
  font-size: 2.0rem;
  line-height: 1.2;
}
@media screen and (max-width: 640px) {
  .entry .entry_tab li a {
    padding: calc((20/750)*100vw) calc((25/750)*100vw) calc((20/750)*100vw) calc((5/750)*100vw);
    border-radius: calc((10/750)*100vw);
    font-size: calc((20/750)*100vw);
  }
}
.entry .entry_area {
  position: relative;
  z-index: 11;
  display: none;
  margin-top: -350px;
  padding-top: 350px;
  opacity: 0;
}
@media screen and (max-width: 640px) {
  .entry .entry_area {
    margin-top: calc((-300/750)*100vw);
    padding-top: calc((300/750)*100vw);
  }
}
.entry .entry_area.is-active {
  display: block;
  animation-name: displayAnime;
  animation-duration: 2s;
  animation-fill-mode: forwards;
}
.entry .entry_area_inner {
  padding: 50px 20px;
}
@media screen and (max-width: 640px) {
  .entry .entry_area_inner {
    padding: calc((50/750)*100vw) 0;
  }
}
@media screen and (max-width: 640px) {
  .entry .entry_btn {
    width: calc((310/750)*100vw);
  }
}
.entry .entry_btn a {
  display: block;
  width: 540px;
  height: 350px;
  padding: 275px 50px 10px;
  color: #FFF;
  font-size: 3.5rem;
  font-weight: 500;
  text-align: center;
}
@media screen and (max-width: 640px) {
  .entry .entry_btn a {
    width: calc((310/750)*100vw);
    height: calc((202/750)*100vw);
    padding: calc((150/750)*100vw) 0 0;
    font-size: calc((26/750)*100vw);
  }
}
.entry .entry_btn.sei a {
  background: url("../images/common/arrow_small_right.png") bottom 33px right 100px no-repeat, url("../images/recruit/entry_sei.png") top center no-repeat;
}
@media screen and (max-width: 640px) {
  .entry .entry_btn.sei a {
    background: url("../images/common/arrow_small_right.png") bottom calc((17/750)*100vw) right calc((20/750)*100vw) no-repeat, url("../images/recruit/entry_sei.png") top center no-repeat;
    background-size: calc((10/750)*100vw), contain;
  }
}
.entry .entry_btn.pa a {
  background: url("../images/common/arrow_small_right.png") bottom 33px right 70px no-repeat, url("../images/recruit/entry_pa.png") top center no-repeat;
}
@media screen and (max-width: 640px) {
  .entry .entry_btn.pa a {
    background: url("../images/common/arrow_small_right.png") bottom calc((17/750)*100vw) right calc((20/750)*100vw) no-repeat, url("../images/recruit/entry_pa.png") top center no-repeat;
    background-size: calc((10/750)*100vw), contain;
  }
}
.entry .entry_btn_list {
  -webkit-display: flex;
  -moz-display: flex;
  -ms-display: flex;
  -o-display: flex;
  display: flex;
  -webkit-align-items: flex-start;
  -moz-align-items: flex-start;
  -ms-align-items: flex-start;
  -o-align-items: flex-start;
  align-items: flex-start;
  justify-content: space-between;
}
.entry .entry_btn_back {
  width: 400px;
  margin: 0 auto;
}
@media screen and (max-width: 640px) {
  .entry .entry_btn_back {
    width: 100%;
  }
}
.entry .entry_btn_back a {
  -webkit-display: flex;
  -moz-display: flex;
  -ms-display: flex;
  -o-display: flex;
  display: flex;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  -o-align-items: center;
  align-items: center;
  justify-content: center;
  height: 60px;
  background: url("../images/recruit/entry_btn_back.png") top 50% left 20px no-repeat, #FFBF00;
  border-radius: 30px;
  color: #FFF;
  font-size: 2.0rem;
  font-weight: 400;
  letter-spacing: .05em;
}
@media screen and (max-width: 640px) {
  .entry .entry_btn_back a {
    height: calc((80/750)*100vw);
    background: url("../images/common/btn_contact_arrow.png") top 50% left calc((30/750)*100vw) no-repeat, #FFBF00;
    background-size: calc((30/750)*100vw);
    font-size: calc((30/750)*100vw);
  }
}
.entry .entry_lttl {
  margin-top: 80px;
  font-weight: 500;
}
@media screen and (max-width: 640px) {
  .entry .entry_lttl {
    margin-top: calc((100/750)*100vw);
  }
}
.entry .entry_mttl {
  margin-bottom: 40px;
  font-size: 2.8rem;
  font-weight: 400;
  letter-spacing: .15em;
  line-height: 1.2;
  text-align: center;
}
@media screen and (max-width: 640px) {
  .entry .entry_mttl {
    margin-bottom: calc((50/750)*100vw);
    font-size: calc((30/750)*100vw);
  }
}
.entry .entry_mttl .ico {
  margin-bottom: 15px;
}
@media screen and (max-width: 640px) {
  .entry .entry_mttl .ico {
    width: calc((100/750)*100vw);
    margin: 0 auto calc((20/750)*100vw);
  }
}
.entry .entry_text, .entry .entry_note {
  font-size: 2.0rem;
  font-weight: 300;
  line-height: 2.0;
}
@media screen and (max-width: 640px) {
  .entry .entry_text, .entry .entry_note {
    font-size: calc((24/750)*100vw);
  }
}
.entry .entry_note {
  padding-left: 1em;
  text-indent: -1em;
}
.entry .entry_form {
  margin-bottom: 80px;
}
@media screen and (max-width: 640px) {
  .entry .entry_form {
    margin-bottom: calc((100/750)*100vw);
  }
}
.entry .entry_table {
  margin: 30px 0;
}
@media screen and (max-width: 640px) {
  .entry .entry_table {
    margin: calc((50/750)*100vw) 0;
  }
}

.float {
  position: fixed;
  bottom: 100px;
  right: 0;
  z-index: 999;
}
@media screen and (max-width: 640px) {
  .float {
    display: none;
  }
}
.float .float_ttl {
  width: 132px;
  margin-bottom: 30px;
  text-align: center;
}
.float li {
  margin-top: -10px;
}
