/* Scss Document */
/* Scss Document */
.mv {
  background: url("../images/ss/mv.png") top center no-repeat;
}
@media screen and (max-width: 640px) {
  .mv {
    background: url("../images/ss/mv_sp.png") top center no-repeat;
    background-size: 100% auto;
  }
}
@media screen and (max-width: 640px) {
  .mv .inner {
    height: calc((440/750)*100vw);
  }
}
.mv .mv_mttl {
  display: inline-block;
  margin-left: 20px;
  padding-bottom: 15px;
}
@media screen and (max-width: 640px) {
  .mv .mv_mttl {
    display: block;
    width: calc((300/750)*100vw);
    margin: calc((10/750)*100vw) 0 0 calc((10/750)*100vw);
    padding: 0;
  }
}

.intro .content {
  padding: 0;
  background: url("../images/ss/intro_bg.png") top center no-repeat;
}
@media screen and (max-width: 640px) {
  .intro .content {
    background-size: calc((1500/750)*100vw);
  }
}
.intro .inner {
  position: relative;
  height: 844px;
}
@media screen and (max-width: 640px) {
  .intro .inner {
    height: calc((630/750)*100vw);
  }
}
.intro .intro_textarea {
  position: absolute;
  top: 50%;
  left: 40px;
  transform: translate(0, -50%);
  width: 600px;
}
@media screen and (max-width: 640px) {
  .intro .intro_textarea {
    left: calc((50/750)*100vw);
    width: calc((400/750)*100vw);
  }
}
.intro .intro_lttl {
  margin-bottom: 40px;
  padding: .2em;
  background: #D24A98;
  color: #FFF;
  font-size: 4.0rem;
  font-weight: 400;
  text-align: center;
  letter-spacing: .15em;
  line-height: 1.2;
}
@media screen and (max-width: 640px) {
  .intro .intro_lttl {
    margin-bottom: calc((40/750)*100vw);
    font-size: calc((36/750)*100vw);
    line-height: 1.4;
  }
}
.intro .intro_mttl {
  text-align: center;
}
@media screen and (max-width: 640px) {
  .intro .intro_mttl {
    width: calc((300/750)*100vw);
    margin: 0 auto;
  }
}
.intro .intro_text {
  margin-bottom: 50px;
  color: #D24A98;
  font-size: 4.0rem;
  font-weight: 400;
  letter-spacing: .15em;
  line-height: 1.6;
  text-align: center;
}
@media screen and (max-width: 640px) {
  .intro .intro_text {
    margin-bottom: calc((30/750)*100vw);
    font-size: calc((30/750)*100vw);
  }
}

.proposal .proposal_list {
  -webkit-display: flex;
  -moz-display: flex;
  -ms-display: flex;
  -o-display: flex;
  display: flex;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  -o-flex-wrap: wrap;
  flex-wrap: wrap;
  justify-content: space-between;
}
.proposal .proposal_list li {
  position: relative;
  width: 360px;
  margin-top: 23px;
  padding: 40px 30px;
  background: #FFFFBF;
  border-radius: 20px;
  font-size: 2.0rem;
  line-height: 1.7;
  text-align: center;
}
@media screen and (max-width: 640px) {
  .proposal .proposal_list li {
    -webkit-display: flex;
    -moz-display: flex;
    -ms-display: flex;
    -o-display: flex;
    display: flex;
    -webkit-align-items: center;
    -moz-align-items: center;
    -ms-align-items: center;
    -o-align-items: center;
    align-items: center;
    justify-content: center;
    width: 48%;
    margin-top: calc((40/750)*100vw);
    padding: calc((30/750)*100vw) calc((30/750)*100vw);
    border-radius: calc((20/750)*100vw);
    font-size: calc((24/750)*100vw);
  }
}
.proposal .proposal_list li:nth-child(-n+3) {
  margin-top: 0;
}
@media screen and (max-width: 640px) {
  .proposal .proposal_list li:nth-child(-n+3) {
    margin-top: calc((40/750)*100vw);
  }
}
.proposal .proposal_list li:nth-child(-n+2) {
  margin-top: 0;
}
@media screen and (max-width: 640px) {
  .proposal .proposal_list li:nth-child(-n+2) {
    margin-top: 0;
  }
}
.proposal .proposal_list li:before {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, -50%);
  content: '';
  width: 35px;
  height: 33px;
}
@media screen and (max-width: 640px) {
  .proposal .proposal_list li:before {
    width: calc((40/750)*100vw);
    height: calc((40/750)*100vw);
  }
}
.proposal .proposal_list li:nth-child(1):before {
  background: url("../images/ss/ss_ico01.png") top center no-repeat;
}
@media screen and (max-width: 640px) {
  .proposal .proposal_list li:nth-child(1):before {
    background-size: contain;
  }
}
.proposal .proposal_list li:nth-child(2):before {
  background: url("../images/ss/ss_ico02.png") top center no-repeat;
}
@media screen and (max-width: 640px) {
  .proposal .proposal_list li:nth-child(2):before {
    background-size: contain;
  }
}
.proposal .proposal_list li:nth-child(3):before {
  background: url("../images/ss/ss_ico03.png") top center no-repeat;
}
@media screen and (max-width: 640px) {
  .proposal .proposal_list li:nth-child(3):before {
    background-size: contain;
  }
}
.proposal .proposal_list li:nth-child(4):before {
  background: url("../images/ss/ss_ico03.png") top center no-repeat;
}
@media screen and (max-width: 640px) {
  .proposal .proposal_list li:nth-child(4):before {
    background-size: contain;
  }
}
.proposal .proposal_list li:nth-child(5):before {
  background: url("../images/ss/ss_ico01.png") top center no-repeat;
}
@media screen and (max-width: 640px) {
  .proposal .proposal_list li:nth-child(5):before {
    background-size: contain;
  }
}
.proposal .proposal_list li:nth-child(6):before {
  background: url("../images/ss/ss_ico02.png") top center no-repeat;
}
@media screen and (max-width: 640px) {
  .proposal .proposal_list li:nth-child(6):before {
    background-size: contain;
  }
}

.flow .flow_list {
  -webkit-display: flex;
  -moz-display: flex;
  -ms-display: flex;
  -o-display: flex;
  display: flex;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  -o-flex-wrap: wrap;
  flex-wrap: wrap;
  justify-content: space-between;
}
.flow .flow_list li {
  position: relative;
  -webkit-display: flex;
  -moz-display: flex;
  -ms-display: flex;
  -o-display: flex;
  display: flex;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  -o-align-items: center;
  align-items: center;
  justify-content: center;
  width: 192px;
  height: 192px;
  background: #D24A98;
  border-radius: 100px;
}
@media screen and (max-width: 640px) {
  .flow .flow_list li {
    width: auto;
    height: calc((200/750)*100vw);
    padding: 1em;
    border-radius: calc((20/750)*100vw);
  }
}
.flow .flow_list li span {
  color: #FFF;
  font-size: 2.6rem;
  letter-spacing: 0;
  line-height: 1.2;
  text-align: center;
}
@media screen and (max-width: 640px) {
  .flow .flow_list li span {
    font-size: calc((30/750)*100vw);
    -ms-writing-mode: tb-rl;
    writing-mode: vertical-rl;
    text-align: left;
  }
}
.flow .flow_list li:before {
  position: absolute;
  top: 50%;
  left: -30px;
  transform: translateY(-50%);
  content: '';
  width: 17px;
  height: 29px;
  background: url("../images/ss/flow_list_arrow.png") top center no-repeat;
  background-size: contain;
}
@media screen and (max-width: 640px) {
  .flow .flow_list li:before {
    left: calc((-30/750)*100vw);
    width: calc((17/750)*100vw);
    height: calc((29/750)*100vw);
  }
}
.flow .flow_list li:first-child:before {
  content: none;
}

.feature .feature_list {
  -webkit-display: flex;
  -moz-display: flex;
  -ms-display: flex;
  -o-display: flex;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  padding-top: 40px;
}
@media screen and (max-width: 640px) {
  .feature .feature_list {
    display: block;
    padding: 0;
  }
}
.feature .feature_list li {
  position: relative;
  width: 360px;
  margin-top: 23px;
  padding: 40px 30px;
  background: #F0F0E1;
  border-radius: 20px;
}
@media screen and (max-width: 640px) {
  .feature .feature_list li {
    width: calc((500/750)*100vw);
    margin-top: calc((40/750)*100vw);
    padding: calc((30/750)*100vw);
    border-radius: calc((20/750)*100vw);
  }
}
.feature .feature_list li:before {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, -50%);
  content: '';
  width: 35px;
  height: 33px;
}
@media screen and (max-width: 640px) {
  .feature .feature_list li:before {
    width: calc((40/750)*100vw);
    height: calc((40/750)*100vw);
  }
}
.feature .feature_list li:nth-child(1) {
  margin-top: -40px;
}
@media screen and (max-width: 640px) {
  .feature .feature_list li:nth-child(1) {
    margin-top: 0;
    margin-right: auto;
  }
}
.feature .feature_list li:nth-child(1):before {
  background: url("../images/ss/ss_ico01.png") top center no-repeat;
}
@media screen and (max-width: 640px) {
  .feature .feature_list li:nth-child(1):before {
    top: 50%;
    left: 0;
    background-size: contain;
  }
}
@media screen and (max-width: 640px) {
  .feature .feature_list li:nth-child(2) {
    margin-left: auto;
  }
}
.feature .feature_list li:nth-child(2):before {
  background: url("../images/ss/ss_ico02.png") top center no-repeat;
}
@media screen and (max-width: 640px) {
  .feature .feature_list li:nth-child(2):before {
    top: 50%;
    right: 0;
    left: auto;
    transform: translate(50%, -50%);
    background-size: contain;
  }
}
.feature .feature_list li:nth-child(3) {
  margin-top: -40px;
}
@media screen and (max-width: 640px) {
  .feature .feature_list li:nth-child(3) {
    margin-top: calc((40/750)*100vw);
  }
}
.feature .feature_list li:nth-child(3):before {
  background: url("../images/ss/ss_ico03.png") top center no-repeat;
}
@media screen and (max-width: 640px) {
  .feature .feature_list li:nth-child(3):before {
    top: 50%;
    left: 0;
    background-size: contain;
  }
}
.feature .feature_list_ttl {
  margin-bottom: 30px;
  font-size: 2.6rem;
  font-weight: 500;
  line-height: 1.5;
  text-align: center;
}
@media screen and (max-width: 640px) {
  .feature .feature_list_ttl {
    margin-bottom: calc((40/750)*100vw);
    font-size: calc((30/750)*100vw);
  }
}
.feature .feature_list_text {
  font-size: 2.0rem;
  line-height: 1.7;
}
@media screen and (max-width: 640px) {
  .feature .feature_list_text {
    font-size: calc((24/750)*100vw);
  }
}

.support .p_catch {
  margin-bottom: 10px;
}
@media screen and (max-width: 640px) {
  .support .p_catch {
    margin-bottom: calc((10/750)*100vw);
  }
}
.support .support_list {
  -webkit-display: flex;
  -moz-display: flex;
  -ms-display: flex;
  -o-display: flex;
  display: flex;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  -o-flex-wrap: wrap;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 60px;
}
@media screen and (max-width: 640px) {
  .support .support_list {
    margin-bottom: calc((80/750)*100vw);
  }
}
.support .support_list li {
  position: relative;
  width: 550px;
  margin-top: 40px;
  padding: 40px 40px 30px;
  border-radius: 20px;
  background: #FFF;
}
@media screen and (max-width: 640px) {
  .support .support_list li {
    width: 100%;
    margin-top: calc((40/750)*100vw);
    padding: calc((30/750)*100vw);
    border-radius: calc((20/750)*100vw);
  }
}
.support .support_list li:nth-child(-n+2) {
  margin-top: 0;
}
@media screen and (max-width: 640px) {
  .support .support_list li:nth-child(-n+2) {
    margin-top: calc((40/750)*100vw);
  }
}
@media screen and (max-width: 640px) {
  .support .support_list li:first-child {
    margin-top: 0;
  }
}
.support .support_list li:before {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, -50%);
  content: '';
  width: 35px;
  height: 33px;
}
@media screen and (max-width: 640px) {
  .support .support_list li:before {
    width: calc((40/750)*100vw);
    height: calc((40/750)*100vw);
  }
}
.support .support_list li:nth-child(1):before, .support .support_list li:nth-child(4):before {
  background: url("../images/ss/ss_ico01.png") top center no-repeat;
}
@media screen and (max-width: 640px) {
  .support .support_list li:nth-child(1):before, .support .support_list li:nth-child(4):before {
    background-size: contain;
  }
}
.support .support_list li:nth-child(2):before {
  background: url("../images/ss/ss_ico02.png") top center no-repeat;
}
@media screen and (max-width: 640px) {
  .support .support_list li:nth-child(2):before {
    background-size: contain;
  }
}
.support .support_list li:nth-child(3):before {
  background: url("../images/ss/ss_ico03.png") top center no-repeat;
}
@media screen and (max-width: 640px) {
  .support .support_list li:nth-child(3):before {
    background-size: contain;
  }
}
.support .support_ttl {
  margin-bottom: 25px;
  font-size: 2.6rem;
  font-weight: 500;
  text-align: center;
  line-height: 1.5;
}
@media screen and (max-width: 640px) {
  .support .support_ttl {
    margin-bottom: calc((30/750)*100vw);
    font-size: calc((30/750)*100vw);
  }
}
.support .support_img {
  margin-bottom: 40px;
}
@media screen and (max-width: 640px) {
  .support .support_img {
    margin-bottom: calc((40/750)*100vw);
  }
}
.support .support_text {
  font-size: 2.0rem;
  line-height: 2.0;
}
@media screen and (max-width: 640px) {
  .support .support_text {
    font-size: calc((24/750)*100vw);
  }
}
.support .support_text_info01 {
  text-align: center;
}
.support .support_text_tel {
  margin: .5em 0;
  font-size: 5.5rem;
  text-align: center;
  letter-spacing: 0;
  line-height: 1.2;
}
@media screen and (max-width: 640px) {
  .support .support_text_tel {
    font-size: calc((60/750)*100vw);
  }
}
.support .support_text_tel a {
  color: #eb6e9b;
}
