#midmain {
	background-image: url(../images/main.jpg);
　}
.guidetop_pic {
	clear: both;
	width: 690px;
	margin-right: -30px;
	margin-bottom: 10px;
}
.guidetop_pic li {
	float: left;
	margin-right: 30px;
	margin-bottom: 10px;
	font-size: 75%;
	line-height: 140%;
}
.guidetop_pic:after {
height: 0;
visibility: hidden ;
content: ".";
display: block ;
clear: both ;
}

.mid_section h2 span {
	font-size: 70%;
	letter-spacing: 0em;
	padding-left: 20px;
	color: #CC6666;
}
